.image_col{
  padding: 0px;
}

.main_image{
  margin: 0px;
  width:100%;
  height: auto;
}
.row{
  margin-left: 0px !important;
}

.diff_top_row{
  background-color: black;
  width:90%;
  margin:auto!important;
  color:white;
  font-size:23px;
  padding:1rem;
}
.diff_bottom_row{
  background-color: black;
  width:90%;
  margin:auto!important;
  color: white;
  font-size:23px;
  padding:1rem;
}
.target{
  background-color: red;
  border-radius: 25px;
  width:500px;
  margin-left: 0px !important;
  text-align: left !important;
  padding-left: 20px;
  font-weight:bold;
  font-family: sofia-pro, sans-serif;
}
.info{
  color:orange;
  border-radius: 25px;
  font-family: sofia-pro, sans-serif; 
}
.deck {
	width: 90%;
	background: #716F71;
	/* padding: 1rem; */
	border-radius: 4px;
	box-shadow: 8px 9px 26px 0 rgba(46, 61, 73, 0.5);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
  margin: auto;
}
.deck .card {
	height: 100px;
	width: 100px;
	margin: 0.2rem 0.2rem;
	background: #141214;;
	font-size: 0;
	color: #ffffff;
	border-radius: 5px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
	transform: rotateY(0);
	/* background: #02b3e4; */
	cursor: default;
	animation-name: flipInY;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	animation-duration: .75s;
	background-image: "url(../assets/Different.jpg)";
	display:inline;
}
.card_outside {
	border:1px solid black;
	background-image: url(../assets/diff_game_logo.png);
	width:200px;
	height:200px;
	position:relative;
	z-index: 4;
}
.card_inside {
	position:absolute;
	z-index: 3;
	border:1px solid black;
	background-color: red;
	width:200px;
	height:200px;
}
.card_outside.open {
	border:1px solid black;
	background-color: green;
	width:30px;
	height:30px;
}
.card_outside.show {
	background-color: blue;

	/* background-image: url('../assets/doctor.jpg'); */

}
.deck .card.show {
  font-size: 33px;
  /* background-image: "url('../assets/Different.jpg')"; */


}
.deck .card.disabled {
	pointer-events: none;
	opacity: 0.9;
}

/* animations */
@keyframes flipInY {
	from {
		transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
		animation-timing-function: ease-in;
		opacity: 0;
	}

	40% {
		transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
		animation-timing-function: ease-in;
	}

	60% {
		transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
		opacity: 1;
	}

	80% {
		transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
	}

	to {
		transform: perspective(400px);
	}
}
/* xs < 768 */
@media screen and (max-width: 767px) {

}

/* sm */
@media screen and (min-width: 768px) {

}

/* md */
@media screen and (min-width: 992px) {

}

/* lg */
@media screen and (min-width: 1200px) {

}
@media screen and (min-width: 2560px){
  .deck {
  	width: 50%;
  	background: #716F71;
  	padding: 1rem;
  	border-radius: 4px;
  	box-shadow: 8px 9px 26px 0 rgba(46, 61, 73, 0.5);
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: space-around;
  	align-items: center;
    margin: 0 auto;
  }
  .diff_top_row{
    width:50%;
  }
  .diff_bottom_row{
    width:50%;
  }
}
