.inputfield_selection {
    font-size:25px;
    color:#495057 !important;
}


@media screen and (max-width: 767px) {


}


@media screen and (min-width: 768px) {
    .inputfield_selection, .inputfield.form-control {
        font-size:40px !important;
        color:#6D767E !important;
    }
}
@media screen and (min-width: 992px) {

}


@media screen and (min-width: 1200px) {
    .inputfield_selection, .inputfield.form-control {
        font-size:25px !important;
        color:#6D767E !important;
    }

}
