.img-other-side-ch{
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
  padding-top:30px;
  padding-bottom:30px;
}
.model3D-col-ch{
  display: flex;
  width: 100%;
  text-align: center;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}


.other-side-hint-ch{
 text-align: center;
 display:block;
}
.emptyBlock{
  padding-bottom: 5px;
}
.emptyBlock2{
  padding-bottom: 40px;
}
/* xs < 768 */
@media screen and (max-width: 767px) {
  .other-side-hint-ch{
   font-size: 25px;
  }
  .emptyBlock{
    padding-bottom: 40px;
  }
  .emptyBlock2{
    display:none;
  }
}

/* sm */
@media screen and (min-width: 768px) {
  .other-side-hint-ch{
   font-size: 25px;
  }
  .emptyBlock{
    padding-bottom: 40px;
  }
  .emptyBlock2{
    display:none;
  }
}

/* md */
@media screen and (min-width: 992px) {
  .other-side-hint-ch{
   font-size: 25px;
  }
}

/* lg */
@media screen and (min-width: 1200px) {
  .other-side-hint-ch{
   font-size: 14px;
  }
  .emptyBlock2{
    padding-bottom: 80px;
    display:block
  }
}
