.slider {
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 600px;
    overflow: hidden;
    white-space: nowrap;
  }
  .slider_home {
    position: relative;
    width: 60%;
    margin: 0 auto;
    height: 60%;
    overflow: hidden;
    white-space: nowrap;
    margin-top:10%;
  }

  .slider-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
  }

  .slide {
    display: inline-block;
    height: 100%;
    width: 100%;
  }

  .slide_home {
    display: inline-block;
    height: 100%;
    width: 100%;
    vertical-align: middle;
  }
  .arrow {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9f9f9;
    border-radius: 50%;
    cursor: pointer;
    transition: transform ease-in .1s;
  }
  .arrow_home {
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9f9f9;
    border-radius: 50%;
    cursor: pointer;
    transition: transform ease-in .1s;
  }

  .nextArrow {
    position: absolute;
    top: 50%;
    right: 25px;
    z-index: 999;
    color: #fff;
  }

  .backArrow {
    position: absolute;
    top: 50%;
    left: 25px;
    z-index: 999;
    color: #fff;
  }

  .fa-arrow-right:before, .fa-arrow-left:before {
    color: #222
  }

  #vids {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #vids a:first-of-type {
    margin-bottom: 5px;
  }

  .dotSpan {
    padding: 10px;
    margin-right: 5px;
    cursor: default;
    background-color: gray;
    border-radius: 50%;

  }
  .dotSpan_home {
    margin-right: 5px;
    cursor: default;
    background-color: gray;
    border-radius: 50%;
    width:15px;
    height:15px;

  }
  .dot_pagination_home {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height:40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.dot_pagination {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height:100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
