.mainSection_two_img{
  width: 100%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 40px;
}
.mainSection_First_Row {
    margin-top: 50px;
    margin-bottom:30px;
    font-family: "adonis-web";
    color:#0C3866;
}
.mainSection_Row {
    margin-top:10px;
    margin-bottom:10px;
    font-family: "adonis-web";
    color:#0C3866;
}
.mainSection_Important_Row {
    font-family: "sofia-pro", Sans-serif;
    font-weight: normal;
    color: #707070;
    font-size: 20px;
}
.mainSection_Img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
  padding-top:30px;
  padding-bottom:30px;
}
.mainSection_First_Row_ch {
    margin-top: 50px;
    margin-bottom:30px;
    font-family: "adonis-web";
      color:#0C3866;
}
.mainSection_Row_ch {
    margin-top:10px;
    margin-bottom:10px;
    font-family: "adonis-web";
    color:#0C3866;
}
.mainSection_Important_Row_ch {
    font-family: "sofia-pro", Sans-serif;
    font-weight: normal;
    color: #707070;
    font-size: 20px;
}

@media screen and (max-width: 767px) {

}

@media only screen and (min-width: 768px) {
    .mainSection_First_Row {
        font-size: 42px;
        margin-top:50px;
        margin-bottom:10px;
        color:#0C3866;
    }
    .mainSection_Row {
        font-size: 42px;
        margin-top:50px;
        margin-bottom:10px;

    }
    .mainSection_Important_Row {
        font-size: 40px;
        margin-top:10px;
        margin-bottom:10px;
    }
    .mainSection_First_Row_ch {
        font-size: 42px;
        margin-top: 50px;
        margin-bottom:10px;

    }
    .mainSection_Row_ch {
        font-size: 42px;
        margin-top:5px;
        margin-bottom:5px;
    }
    .mainSection_Important_Row_ch {
        font-family: "sofia-pro", Sans-serif;
        font-weight: normal;
        color: #707070;
        font-size: 40px;

    }

}

@media only screen and (min-width: 992px) {

}

@media screen and (min-width: 1200px) {
    .mainSection_First_Row {
        margin-top: 100px;
        font-size: 23px;
        color:#0C3866;

    }
    .mainSection_Row {
        margin-top:30px;
        margin-bottom:10px;
        font-size: 23px;
    }
    .mainSection_Important_Row {
        font-family: "sofia-pro", Sans-serif!important;
        font-size: 20px;
        margin-top:10px;
        margin-bottom:10px;
    }
    .mainSection_First_Row_ch {
        font-size: 23px;
        margin-top: 100px;
        margin-bottom:10px;
    }
    .mainSection_Row_ch {
        font-size: 23px;
        margin-top:10px;
        margin-bottom:10px;
    }
    .mainSection_Important_Row_ch {
        font-family: "sofia-pro", Sans-serif!important;
        font-weight: normal;
        color: #707070;
        font-size: 20px;
    }
}
