.mainSection_two_img{
  width: 100%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 40px;
}
.mainSection_First_Row {
    margin-top: 50px;
    margin-bottom:30px;
    font-family: "adonis-web";
    color:#0C3866;
}
.mainSection_Row {
    margin-top:10px;
    margin-bottom:10px;
    /* font-family: "adonis-web"; */
    color:#0C3866;
    font-family: "sofia-pro", Sans-serif;
    font-weight: normal;

    font-size: 20px;
}
.mainSection_Important_Row {
    font-family: "sofia-pro", Sans-serif;
    font-weight: normal;
    color: #707070;
    font-size: 20px;
}
.mainSection_Img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
  padding-top:30px;
  padding-bottom:30px;
}
.mainSection_Img_ch {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
  padding-top:30px;
  padding-bottom:30px;
}
.mainSection_Img2 {
    display:block;

    width:100%;
    height:auto;
}
.mainSection_First_Row_ch {
    margin-top: 50px;
    margin-bottom:30px;
    font-family: "adonis-web";
      color:#0C3866;
}
.mainSection_Row_ch {
    margin-top:10px;
    margin-bottom:10px;
    font-family: "adonis-web";
    color:#0C3866;
}
.mainSection_Important_Row_ch {
    font-family: "sofia-pro", Sans-serif;
    font-weight: normal;
    color: #707070;
    font-size: 20px;
}
.image_description{
  font-family: "sofia-pro", Sans-serif;
  font-size:20px;
  color:#707070;
}

.image_description_ch{
  font-family: "sofia-pro", Sans-serif;
  font-size:20px;
  color:#707070;
}
@media screen and (max-width: 767px) {
  .mainSection_First_Row {
      font-size: 42px;
      margin-top:50px;
      margin-bottom:10px;
      color:#0C3866;
  }
  .mainSection_Row {
      font-size: 42px;
      margin-top:50px;
      margin-bottom:10px;

  }
  .mainSection_Important_Row {
      font-size: 40px;
      margin-top:10px;
      margin-bottom:10px;
  }
  .mainSection_First_Row_ch {
      font-size: 42px;
      margin-top: 50px;
      margin-bottom:10px;

  }
  .mainSection_Row_ch {
      font-size: 42px;
      margin-top:5px;
      margin-bottom:5px;
  }
  .mainSection_Important_Row_ch {
      font-family: "sofia-pro", Sans-serif;
      font-weight: normal;
      color: #707070;
      font-size: 40px;
  }
  .image_description{
    font-family: "sofia-pro", Sans-serif;
    font-size:30px;
    color:#707070;
  }
  .image_description_ch{
    font-family: "sofia-pro", Sans-serif;
    font-size:30px;
    color:#707070;
  }
  .block{
    /* width:45px;
    height:50px;
    background-color:red; */
    display:none;
  }
  .main_content_text_column{
    margin-top: 20px;
    margin-bottom: 100px;
  }
  .picture_description_main_content{
    display:block;
    color: #707070;
  }
  .picture_description_main_content_ch{
    display:block;
    color: #707070;
  }
#mainSection_withPicture_div {
  display: none !important;
}

}

@media only screen and (min-width: 768px) {
    .mainSection_First_Row {
        font-size: 42px;
        margin-top:50px;
        margin-bottom:10px;
        color:#0C3866;
    }
    .mainSection_Row {
        font-size: 42px;
        margin-top:50px;
        margin-bottom:10px;

    }
    .mainSection_Important_Row {
        font-size: 40px;
        margin-top:10px;
        margin-bottom:10px;
    }
    .mainSection_First_Row_ch {
        font-size: 42px;
        margin-top: 50px;
        margin-bottom:10px;

    }
    .mainSection_Row_ch {
        font-size: 42px;
        margin-top:5px;
        margin-bottom:5px;
    }
    .mainSection_Important_Row_ch {
        font-family: "sofia-pro", Sans-serif;
        font-weight: normal;
        color: #707070;
        font-size: 40px;
    }
    .image_description{
      font-family: "sofia-pro", Sans-serif;
      font-size:30px;
      color:#707070;
    }
    .image_description_ch{
      font-family: "sofia-pro", Sans-serif;
      font-size:30px;
      color:#707070;
    }
    .block{
      /* width:45px;
      height:50px;
      background-color:red; */
      display:none;
    }
    .main_content_text_column{
      margin-top: 50px;
      margin-bottom: 100px;
    }
    .picture_description_main_content{
      display:block;
      color: #707070;
    }
    .picture_description_main_content_ch{
      display:block;
      color: #707070;
    }
}

@media only screen and (min-width: 992px) {
  .block{
    /* width:45px;
    height:50px;
    background-color:red; */
    display:none;
  }
  .main_content_text_column{
    margin-top: 50px;
    margin-bottom: 100px;
  }
  .picture_description_main_content{
    display:block;
    color: #707070;
  }
  .picture_description_main_content_ch{
    display:block;
    color: #707070;
  }
}

@media screen and (min-width: 1200px) {
  .image_description{
    font-size:20px;
    margin-top:30px;
  }
  .image_description_ch{
    font-size:20px;
    margin-top:30px;
  }
    .mainSection_First_Row {
        margin-top: 100px;
        font-size: 23px;
        color:#0C3866;

    }
    .mainSection_Row {
        margin-top:30px;
        margin-bottom:10px;
        font-size: 23px;
    }
    .mainSection_Important_Row {
        font-family: "sofia-pro", Sans-serif!important;
        font-size: 20px;
        margin-top:10px;
        margin-bottom:10px;
    }
    .mainSection_First_Row_ch {
        font-size: 23px;
        margin-top: 100px;
        margin-bottom:10px;
    }
    .mainSection_Row_ch {
        font-size: 23px;
        margin-top:10px;
        margin-bottom:10px;
    }
    .mainSection_Important_Row_ch {
        font-family: "sofia-pro", Sans-serif!important;
        font-weight: normal;
        color: #707070;
        font-size: 20px;
    }
    .mainSection_Img2 {
        display:inline-block;
        width:90%;
        height:auto;
        /* margin-left: 12px; */
    }
    .image_description{
      font-family: "sofia-pro", Sans-serif;
      font-size:20px;
      color:#707070;
    }
    .image_description_ch{
      font-family: "sofia-pro", Sans-serif;
      font-size:20px;
      color:#707070;
    }
    .block{
      width:45px;
      height:50px;
      background-color:red;
      display:inline-block;
    }
    .main_content_text_column{
      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: 30px!important;
    }
    .picture_description_main_content{
      display:inline;
      color: #707070;
    }
    .picture_description_main_content_ch{
      display:inline;
      color: #707070;
    }
    #mainSection_withPicture_div {
      display: inline-block !important;
    }
    #mainSection_withPicture_Col {
      margin-left: 0px;
      padding-right: 0px;
    }
}
