.second_Title_P{
    color:#BE0027;
    font-size: 40px;
    font-weight: bold;
    font-family: "sofia-pro", Sans-serif;
  }
.second_Title_P_ch {
    color:#BE0027;
    font-size: 45px;
    font-weight: bold;
    font-family: "sofia-pro", Sans-serif;
    }


@media screen and (max-width: 767px) {

}

@media only screen and (min-width: 768px) {
    .second_Title_P{
        color:#BE0027;
        font-size: 40px;
        font-weight: bold;
        font-family: "sofia-pro", Sans-serif;
    }
    .second_Title_P_ch {
        color:#BE0027;
        font-size: 40px;
        font-weight: bold;
        font-family: "sofia-pro", Sans-serif;
        margin-top: 85px;
    }
}

@media only screen and (min-width: 992px) {

}

@media screen and (min-width: 1200px) {
    .second_Title_P{
        color:#BE0027;
        font-size: 20px !important;
        font-weight: bold;
        font-family: "sofia-pro", Sans-serif;
        margin-bottom: 20px;
    }
    .second_Title_P_ch {
        color:#BE0027;
        font-size: 20px;
        font-weight: bold;
        font-family: "sofia-pro", Sans-serif;
        margin-bottom: 20px;
        margin-top: 0px;
    }
}
