.slider_mirror {
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 800px;
    overflow: hidden;
    white-space: nowrap;
  }
  .testPliz_mirror {
    position: relative;
    width: 70%;
    margin: 0 auto;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
  }

  .slider-wrapper_mirror {
    position: relative;
    height: 100%;
    width: 100%;
  }

  .slide_mirror {
    display: inline-block;
    height: 100%;
    width: 100%;
  }

  .arrow_mirror {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #D9C739;
    border-radius: 50%;
    cursor: pointer;
    transition: transform ease-in .1s;
  }

  .nextArrow_mirror {
    position: absolute;
    top: 50%;
    right: 70px;
    z-index: 999;
    color: #fff;
  }

  .backArrow_mirror {
    position: absolute;
    top: 50%;
    left: 70px;
    z-index: 999;
    color: #fff;
  }

  .fa-arrow-right_mirror:before, .fa-arrow-left_mirror:before {
    color: #222
  }

  #vids_mirror {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #vids_mirror a:first-of-type {
    margin-bottom: 5px;
  }

  .dotSpan_mirror {
    padding: 10px;
    margin-right: 5px;
    cursor: default;
    background-color: gray;
    border-radius: 50%;

  }

.dot_pagination_mirror {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height:30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .slider_mirror{
    display:block;
    height:700px;
  }
}

/* sm */
@media screen and (min-width: 768px) {
  .slider_mirror{
    display:block;
    height:700px;
  }
}

/* md */
@media screen and (min-width: 992px) {
  .slider_mirror{
    display:block;
    height:800px
  }
}

/* lg */
@media screen and (min-width: 1200px) {
  .slider_mirror{
    display:none;
  }
}

@media screen and (min-width: 2560px) {
  .slider_mirror{
    display:none;
  }

  .arrow_mirror {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #D9C739;
    border-radius: 50%;
    cursor: pointer;
    transition: transform ease-in .1s;
  }
  .dot_pagination_mirror {
    position: relative;
    bottom: 40px;
    width: 100%;
    height:40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dotSpan_mirror {
    margin-right: 5px;
    cursor: default;
    background-color: gray;
    border-radius: 50%;
    width:30px;
    height:30px;

  }
  .nextArrow_mirror {
    position: absolute;
    top: 35%;
    right: 70px;
    z-index: 999;
    color: #fff;
  }

  .backArrow_mirror {
    position: absolute;
    top: 35%;
    left: 70px;
    z-index: 999;
    color: #fff;
  }
}
