@import url('https://fonts.googleapis.com/css?family=Arima+Madurai:300');

*,
*::before,
*::after {
	box-sizing: border-box;
}

.mirror-bird-container {
	min-height: 68rem;
	background-image: url('../assets/artist.jpg');
	background-blend-mode: soft-light;
	background-size: cover;
}

.mirror-bird-container_after_hover {
	min-height: 68rem;
	background-image: url('../assets/artist_taiwan_color.jpg') !important;
	background-blend-mode: soft-light;
	background-size: cover;
}
.mirror-bird-container2 {
	min-height: 68rem;
	background-image: url('../assets/doctor.jpg');
	background-blend-mode: soft-light;
	background-size: cover;
	background-position: center center;
	display:none;
}
.mirror-bird-container2_after_hover {
	min-height: 68rem;
	background-image: url('../assets/doctor_1280x905.jpg') !important;
	background-blend-mode: soft-light;
	background-size: cover;
}

.mirror-bird-container3 {
	min-height: 68rem;
	background-image: url('../assets/firefighter_2.jpg');
	background-blend-mode: soft-light;
	background-size: cover;
	background-position: center center;
	display:none;
}
.mirror-bird-container3_after_hover {
	min-height: 68rem;
	background-image: url('../assets/firefighter_2_hover.jpg') !important;
	background-blend-mode: soft-light;
	background-size: cover;
}
.mirror-bird-container4 {
	min-height: 68rem;
	background-image: url('../assets/dancer.jpg');
	background-blend-mode: soft-light;
	background-size: cover;
	background-position: center center;
	display:none;
}
.mirror-bird-container4_after_hover {
	min-height: 68rem;
	background-image: url('../assets/dancer-taiwan_color.jpg') !important;
	background-blend-mode: soft-light;
	background-size: cover;
}

.mirror-bird-container5 {
	min-height: 55rem;
	background-image: url('../assets/child.jpg');
	background-blend-mode: soft-light;
	background-size: cover;
	background-position: center center;
	display:none;
}
.bird {
  	background-image: url(../assets/pigeon4.svg);
  	background-size: auto 100%;
  	width: 201px;
  	height: 332px;
  	will-change: background-position;
  	animation-name: fly-cycle;
  	animation-timing-function: steps(5);
	animation-iteration-count: infinite;
}
.bird--one {
	animation-duration: 1s;
	animation-delay: -0.5s;
}


.test1_square {
	position: absolute;
	width:30px;
	height:30px;
	/* z-index: 4; */
	top:350px;
	left:1135px;
	background-color: red;
}
.test2_square {
	position: absolute;
	width:30px;
	height:30px;
	/* z-index: 4; */
	top:350px;
	left:1135px;
	background-color: red;
}
.test3_square {
	position: absolute;
	width:30px;
	height:30px;
	/* z-index: 4; */
	top:350px;
	left:1135px;
	background-color: red;
}
.test4_square {
	position: absolute;
	width:30px;
	height:30px;
	/* z-index: 4; */
	top:350px;
	left:1135px;
	background-color: red;
}
.test5_square {
	position: absolute;
	width:30px;
	height:30px;
	/* z-index: 4; */
	top:350px;
	left:1135px;
	background-color: red;
}
.bird-container--one {
	position: absolute;
  top: -15%;
	left: -10%;
	transform: scale(0) translateX(-10vw);
	will-change: transform;
	animation-name: fly-right-one;
	/* background-color: green; */
	animation-timing-function: linear;
	animation-duration: 4s;
	animation-delay: 0;
	animation-fill-mode: forwards;
	animation-play-state: unset;
}
.bird-container--two {
	position: absolute;
  top: -25%;
	left: 50%;
	/* background-color: red; */
	transform: scale(0) translateX(-10vw);
	will-change: transform;
	animation-name: fly-right-two;
	animation-timing-function: linear;
	animation-duration: 15s;
	animation-delay: 0;
	animation-fill-mode: forwards;
	animation-play-state: unset;
}
.bird-container--three {
	position: absolute;
  top: -15%;
	left: -10%;
	transform: scale(0) translateX(-10vw);
	will-change: transform;
	animation-name: fly-right-three;
	/* background-color: green; */
	animation-timing-function: linear;
	animation-duration: 4s;
	animation-delay: 0;
	animation-fill-mode: forwards;
	animation-play-state: unset;
}
.bird-container--four {
	position: absolute;
  top: -25%;
	left: 50%;
	/* background-color: red; */
	transform: scale(0) translateX(-10vw);
	will-change: transform;
	animation-name: fly-right-four;
	animation-timing-function: linear;
	animation-duration: 15s;
	animation-delay: 0;
	animation-fill-mode: forwards;
	animation-play-state: unset;
}
.bird-container--five {
	position: absolute;
  top: 40%;
	left: -10%;
	/* background-color: yellow; */
	transform: scale(0) translateX(-10vw);
	will-change: transform;
	animation-name: fly-right-five;
	animation-timing-function: linear;
	animation-duration: 2s;
	animation-delay: 0;
	animation-fill-mode: forwards;
	animation-play-state: unset;
}
.bird-container--six {
	position: absolute;
  top: 2%;
	left: 30%;
	/* background-color: yellow; */
	transform: scale(0) translateX(-10vw);
	will-change: transform;
	animation-name: fly-right-six;
	animation-timing-function: linear;
	animation-duration: 5s;
	animation-delay: 0;
	animation-fill-mode: forwards;
	animation-play-state: unset;
}



@keyframes fly-cycle {

	100% {
		background-position: -900px 0;
	}

}

@keyframes fly-right-one {

	0% {
		transform: translateY(2vh) translateX(-10vw) scale(2.0);
	}

	10% {
		transform: translateY(2vh) translateX(10vw) scale(2.0);
	}

	20% {
		transform: translateY(5vh) translateX(20vw) scale(1.5);
	}

	30% {
		transform: translateY(10vh) translateX(30vw) scale(1.0);
	}

	40% {
		transform: translateY(20vh) translateX(40vw) scale(0.6);
	}

	50% {
		transform: translateY(35vh) translateX(50vw) scale(0.6);
	}

	60% {
		transform: translateY(40vh) translateX(60vw) scale(0.6);
	}

	100% {
		transform: translateY(90%) translateX(93vw) scale(0.8);
		animation-play-state: paused;
	}

}
@keyframes fly-right-two {

	0% {
		transform: scale(0.6) translateX(63vw) translateY(75vh);
	}



	30% {
		transform: translateY(35vh) translateX(70vw) scale(0.6);
	}


	100% {
		transform: translateY(50vh) translateX(100vw) scale(0.5);
	}

}
@keyframes fly-right-three {

	0% {
		transform: translateY(2vh) translateX(-10vw) scale(2.0);
	}

	10% {
		transform: translateY(2vh) translateX(10vw) scale(2.0);
	}

	20% {
		transform: translateY(5vh) translateX(20vw) scale(1.5);
	}

	30% {
		transform: translateY(10vh) translateX(30vw) scale(1.0);
	}

	40% {
		transform: translateY(20vh) translateX(40vw) scale(0.6);
	}

	50% {
		transform: translateY(35vh) translateX(50vw) scale(0.6);
	}

	60% {
		transform: translateY(40vh) translateX(60vw) scale(0.6);
	}

	100% {
		transform: translateY(90%) translateX(93vw) scale(0.8);
		animation-play-state: paused;
	}

}
@keyframes fly-right-four {
	0% {
		transform: scale(0.6) translateX(63vw) translateY(75vh);
	}
	30% {
		transform: translateY(35vh) translateX(70vw) scale(0.6);
	}
	100% {
		transform: translateY(50vh) translateX(100vw) scale(0.5);
	}

}

@keyframes fly-right-five {

	0% {
		transform: scale(0.3) translateX(0vw);
	}

	50% {
		transform: translateY(-10vh) translateX(20vw) scale(0.6);
	}


	100% {
		transform: translateY(-35vh) translateX(38vw) scale(0.6);
	}

}
@keyframes fly-right-six {

	0% {
		transform: scale(0.3) translateX(0vw);
	}

	50% {
		transform: translateY(10vh) translateX(50vw) scale(0.6);
	}


	100% {
		transform: translateY(35vh) translateX(100vw) scale(0.6);
		animation-play-state: paused;
	}

}

@media screen and (min-width: 767px) {
	.mirror-bird-container {
		min-height: 45rem;
		background-image: url('../assets/artist.jpg');
		background-blend-mode: soft-light;
		background-size: cover;
		background-position: center center;
	}
	.mirror-bird-container2 {
		min-height: 45rem;
		background-image: url('../assets/doctor.jpg');
		background-blend-mode: soft-light;
		background-size: cover;
		background-position: center center;
		display: none;
	}
	.mirror-bird-container3 {
		min-height: 55rem;
		background-image: url('../assets/firefighter_2.jpg');
		background-blend-mode: soft-light;
		background-size: cover;
		background-position: center center;
		display:none;
	}
	.mirror-bird-container4 {
		min-height: 55rem;
		background-image: url('../assets/dancer.jpg');
		background-blend-mode: soft-light;
		background-size: cover;
		background-position: center center;
		display:none;
	}
	.mirror-bird-container5 {
		min-height: 55rem;
		background-image: url('../assets/child.jpg');
		background-blend-mode: soft-light;
		background-size: cover;
		background-position: center center;
		display:none;
	}

}

@media screen and (min-width: 992px) {
	.mirror-bird-container {
		min-height: 50rem;
		background-image: url('../assets/artist.jpg');
		background-blend-mode: soft-light;
		background-size: cover;
		background-position: center center;
	}
	.mirror-bird-container2 {
		min-height: 50rem;
		background-image: url('../assets/doctor.jpg');
		background-blend-mode: soft-light;
		background-size: cover;
		background-position: center center;
		display: none;
	}
	.mirror-bird-container3 {
		min-height: 55rem;
		background-image: url('../assets/firefighter_2.jpg');
		background-blend-mode: soft-light;
		background-size: cover;
		background-position: center center;
		display:none;
	}
	.mirror-bird-container4 {
		min-height: 55rem;
		background-image: url('../assets/dancer.jpg');
		background-blend-mode: soft-light;
		background-size: cover;
		background-position: center center;
		display:none;
	}
	.mirror-bird-container5 {
		min-height: 55rem;
		background-image: url('../assets/child.jpg');
		background-blend-mode: soft-light;
		background-size: cover;
		background-position: center center;
		display:none;
	}
}

/* md */
@media screen and (min-width: 992px) {
  #wrapper_mirror{
    display:none;
  }
}
@media screen and (min-width: 1200px) {
	#wrapper_mirror{
		display:block;
	  }
	.mirror-bird-container {
		min-height: 65rem;
		background-image: url('../assets/artist.jpg');
		background-blend-mode: soft-light;
		background-size: cover;
		background-position: center center;
	}
	.mirror-bird-container2 {
		min-height: 65rem;
		background-image: url('../assets/doctor.jpg');
		background-blend-mode: soft-light;
		background-size: cover;
		background-position: center center;
		display:none;
	}
	.mirror-bird-container3 {
		min-height: 55rem;
		background-image: url('../assets/firefighter_2.jpg');
		background-blend-mode: soft-light;
		background-size: cover;
		background-position: center center;
		display:none;
	}
	.mirror-bird-container4 {
		min-height: 55rem;
		background-image: url('../assets/dancer.jpg');
		background-blend-mode: soft-light;
		background-size: cover;
		background-position: center center;
		display:none;
	}
	.mirror-bird-container5 {
		min-height: 55rem;
		background-image: url('../assets/child.jpg');
		background-blend-mode: soft-light;
		background-size: cover;
		background-position: center center;
		display:none;
	}
	
	.test1_square {
		position: absolute;
		width:30px;
		height:30px;
		/* z-index: 4; */
		top:350px;
		left:1135px;
		background-color: red;
	}
	.test2_square {
		position: absolute;
		width:30px;
		height:30px;
		/* z-index: 4; */
		top:350px;
		left:1135px;
		background-color: red;
	}
	.test3_square {
		position: absolute;
		width:30px;
		height:30px;
		/* z-index: 4; */
		top:350px;
		left:1135px;
		background-color: red;
	}
	.test4_square {
		position: absolute;
		width:30px;
		height:30px;
		/* z-index: 4; */
		top:350px;
		left:1135px;
		background-color: red;
	}


	.bird-container--one {
		position: absolute;
	  top: -15%;
		left: -10%;
		transform: scale(0) translateX(-10vw);
		will-change: transform;
		animation-name: fly-right-one;
		/* background-color: green; */
		animation-timing-function: linear;
		animation-duration: 4s;
		animation-delay: 0;
		animation-fill-mode: forwards;
		animation-play-state: unset;
	}
	.bird-container--two {
		position: absolute;
	  top: -25%;
		left: 50%;
		/* background-color: red; */
		transform: scale(0) translateX(-10vw);
		will-change: transform;
		animation-name: fly-right-two;
		animation-timing-function: linear;
		animation-duration: 15s;
		animation-delay: 0;
		animation-fill-mode: forwards;
		animation-play-state: unset;
	}

	.bird-container--three {
		position: absolute;
	  top: -15%;
		left: -10%;
		transform: scale(0) translateX(-10vw);
		will-change: transform;
		animation-name: fly-right-three;
		/* background-color: green; */
		animation-timing-function: linear;
		animation-duration: 4s;
		animation-delay: 0;
		animation-fill-mode: forwards;
		animation-play-state: unset;
	}
	.bird-container--four {
		position: absolute;
	  top: -25%;
		left: 50%;
		/* background-color: red; */
		transform: scale(0) translateX(-10vw);
		will-change: transform;
		animation-name: fly-right-four;
		animation-timing-function: linear;
		animation-duration: 15s;
		animation-delay: 0;
		animation-fill-mode: forwards;
		animation-play-state: unset;
	}
	.bird-container--five {
		position: absolute;
	  top: 40%;
		left: -10%;
		/* background-color: yellow; */
		transform: scale(0) translateX(-10vw);
		will-change: transform;
		animation-name: fly-right-five;
		animation-timing-function: linear;
		animation-duration: 2s;
		animation-delay: 0;
		animation-fill-mode: forwards;
		animation-play-state: unset;
	}
	.bird-container--six {
		position: absolute;
	  top: 2%;
		left: 30%;
		/* background-color: yellow; */
		transform: scale(0) translateX(-10vw);
		will-change: transform;
		animation-name: fly-right-six;
		animation-timing-function: linear;
		animation-duration: 5s;
		animation-delay: 0;
		animation-fill-mode: forwards;
		animation-play-state: unset;
	}


	@keyframes fly-cycle {

		100% {
			background-position: -900px 0;
		}

	}

	@keyframes fly-right-one {

		0% {
			transform: translateY(2vh) translateX(-10vw) scale(2.0);
		}

		10% {
			transform: translateY(2vh) translateX(10vw) scale(2.0);
		}

		20% {
			transform: translateY(5vh) translateX(20vw) scale(1.5);
		}

		30% {
			transform: translateY(10vh) translateX(30vw) scale(1.0);
		}

		40% {
			transform: translateY(20vh) translateX(40vw) scale(0.6);
		}

		50% {
			transform: translateY(35vh) translateX(50vw) scale(0.6);
		}

		60% {
			transform: translateY(40vh) translateX(60vw) scale(0.6);
		}

		100% {
			transform: translateY(90%) translateX(93vw) scale(0.8);
			animation-play-state: paused;
		}

	}
	@keyframes fly-right-two {

		0% {
			transform: scale(0.6) translateX(63vw) translateY(75vh);
		}



		30% {
			transform: translateY(35vh) translateX(70vw) scale(0.6);
		}


		100% {
			transform: translateY(50vh) translateX(100vw) scale(0.5);
		}

	}
	@keyframes fly-right-three {

		0% {
			transform: translateY(2vh) translateX(-10vw) scale(2.0);
		}

		10% {
			transform: translateY(2vh) translateX(10vw) scale(2.0);
		}

		20% {
			transform: translateY(5vh) translateX(20vw) scale(1.5);
		}

		30% {
			transform: translateY(10vh) translateX(30vw) scale(1.0);
		}

		40% {
			transform: translateY(20vh) translateX(40vw) scale(0.6);
		}

		50% {
			transform: translateY(35vh) translateX(50vw) scale(0.6);
		}

		60% {
			transform: translateY(40vh) translateX(60vw) scale(0.6);
		}

		100% {
			transform: translateY(90%) translateX(93vw) scale(0.8);
			animation-play-state: paused;
		}

	}
	@keyframes fly-right-four {

		0% {
			transform: scale(0.6) translateX(63vw) translateY(75vh);
		}
		30% {
			transform: translateY(35vh) translateX(70vw) scale(0.6);
		}


		100% {
			transform: translateY(50vh) translateX(100vw) scale(0.5);
		}

	}

	@keyframes fly-right-five {

		0% {
			transform: scale(0.3) translateX(0vw);
		}

		50% {
			transform: translateY(-10vh) translateX(20vw) scale(0.6);
		}


		100% {
			transform: translateY(-35vh) translateX(38vw) scale(0.6);
		}

	}
	@keyframes fly-right-six {

		0% {
			transform: scale(0.3) translateX(0vw);
		}

		50% {
			transform: translateY(10vh) translateX(50vw) scale(0.6);
		}


		100% {
			transform: translateY(35vh) translateX(100vw) scale(0.6);
			animation-play-state: paused;
		}
	}
}



@media screen and (min-width: 1900px) {
	.mirror-bird-container {
		min-height: 111rem;
		background-image: url('../assets/artist.jpg');
		background-blend-mode: soft-light;
		background-size: cover;
		background-position: center center;
		padding: 2rem;
	}

	.mirror-bird-container2 {
		min-height: 111rem;
		background-image: url('../assets/doctor.jpg');
		background-blend-mode: soft-light;
		background-size: cover;
		background-position: center center;
		display: none;
	}
	.mirror-bird-container3 {
		min-height: 111rem;
		background-image: url('../assets/firefighter_2.jpg');
		background-blend-mode: soft-light;
		background-size: cover;
		background-position: center center;
		display:none;
	}
	.mirror-bird-container4 {
		min-height: 111rem;
		background-image: url('../assets/dancer.jpg');
		background-blend-mode: soft-light;
		background-size: cover;
		background-position: center center;
		display:none;
	}
	.mirror-bird-container5 {
		min-height: 55rem;
		background-image: url('../assets/child.jpg');
		background-blend-mode: soft-light;
		background-size: cover;
		background-position: center center;
		display:none;
	}

}

@media screen and (min-width: 3840px) {
	.mirror-bird-container {
		min-height: 180rem;
		background-image: url('../assets/artist.jpg');
		background-blend-mode: soft-light;
		background-size: cover;
		background-position: center center;
		display: flex;
	}
	.mirror-bird-container2 {
		min-height: 180rem;
		background-image: url('../assets/doctor.jpg');
		background-blend-mode: soft-light;
		background-size: cover;
		background-position: center center;
		display: none;
	}

	.mirror-bird-container3 {
		min-height: 180rem;
		background-image: url('../assets/firefighter_2.jpg');
		background-blend-mode: soft-light;
		background-size: cover;
		background-position: center center;
		display: none;
	}

	.mirror-bird-container4 {
		min-height: 180rem;
		background-image: url('../assets/dancer.jpg');
		background-blend-mode: soft-light;
		background-size: cover;
		background-position: center center;
		display: none;
	}

	.mirror-bird-container5 {
		min-height: 180rem;
		background-image: url('../assets/child.jpg');
		background-blend-mode: soft-light;
		background-size: cover;
		background-position: center center;
		display: none;
	}
	
	.test1_square {
		position: absolute;
		width:30px;
		height:30px;
		/* z-index: 4; */
		top:350px;
		left:1135px;
		background-color: red;
	}
	.test2_square {
		position: absolute;
		width:30px;
		height:30px;
		/* z-index: 4; */
		top:350px;
		left:1135px;
		background-color: red;
	}
	.test3_square {
		position: absolute;
		width:30px;
		height:30px;
		/* z-index: 4; */
		top:350px;
		left:1135px;
		background-color: red;
	}
	.test4_square {
		position: absolute;
		width:30px;
		height:30px;
		/* z-index: 4; */
		top:350px;
		left:1135px;
		background-color: red;
	}

	.bird-container--one {
		position: absolute;
	  top: -15%;
		left: -10%;
		transform: scale(0) translateX(-10vw);
		will-change: transform;
		animation-name: fly-right-one;
		/* background-color: green; */
		animation-timing-function: linear;
		animation-duration: 4s;
		animation-delay: 0;
		animation-fill-mode: forwards;
		animation-play-state: unset;
	}
	.bird-container--two {
		position: absolute;
	  top: -25%;
		left: 50%;
		/* background-color: red; */
		transform: scale(0) translateX(-10vw);
		will-change: transform;
		animation-name: fly-right-two;
		animation-timing-function: linear;
		animation-duration: 15s;
		animation-delay: 0;
		animation-fill-mode: forwards;
		animation-play-state: unset;
	}
	.bird-container--three {
		position: absolute;
	  top: -15%;
		left: -10%;
		transform: scale(0) translateX(-10vw);
		will-change: transform;
		animation-name: fly-right-three;
		/* background-color: green; */
		animation-timing-function: linear;
		animation-duration: 4s;
		animation-delay: 0;
		animation-fill-mode: forwards;
		animation-play-state: unset;
	}
	.bird-container--four {
		position: absolute;
	  top: -25%;
		left: 50%;
		/* background-color: red; */
		transform: scale(0) translateX(-10vw);
		will-change: transform;
		animation-name: fly-right-four;
		animation-timing-function: linear;
		animation-duration: 15s;
		animation-delay: 0;
		animation-fill-mode: forwards;
		animation-play-state: unset;
	}
	.bird-container--five {
		position: absolute;
	  top: 40%;
		left: -10%;
		/* background-color: yellow; */
		transform: scale(0) translateX(-10vw);
		will-change: transform;
		animation-name: fly-right-five;
		animation-timing-function: linear;
		animation-duration: 2s;
		animation-delay: 0;
		animation-fill-mode: forwards;
		animation-play-state: unset;
	}
	.bird-container--six {
		position: absolute;
	  top: 2%;
		left: 30%;
		/* background-color: yellow; */
		transform: scale(0) translateX(-10vw);
		will-change: transform;
		animation-name: fly-right-six;
		animation-timing-function: linear;
		animation-duration: 5s;
		animation-delay: 0;
		animation-fill-mode: forwards;
		animation-play-state: unset;
	}



	@keyframes fly-cycle {

		100% {
			background-position: -900px 0;
		}

	}

	@keyframes fly-right-one {

		0% {
			transform: translateY(2vh) translateX(-10vw) scale(2.0);
		}

		10% {
			transform: translateY(2vh) translateX(10vw) scale(2.0);
		}

		20% {
			transform: translateY(5vh) translateX(20vw) scale(1.5);
		}

		30% {
			transform: translateY(10vh) translateX(30vw) scale(1.0);
		}

		40% {
			transform: translateY(20vh) translateX(40vw) scale(0.6);
		}

		50% {
			transform: translateY(35vh) translateX(50vw) scale(0.6);
		}

		60% {
			transform: translateY(40vh) translateX(60vw) scale(0.6);
		}

		100% {
			transform: translateY(90%) translateX(93vw) scale(0.8);
			animation-play-state: paused;
		}

	}
	@keyframes fly-right-two {

		0% {
			transform: scale(0.6) translateX(63vw) translateY(75vh);
		}



		30% {
			transform: translateY(35vh) translateX(70vw) scale(0.6);
		}


		100% {
			transform: translateY(50vh) translateX(100vw) scale(0.5);
		}

	}
	@keyframes fly-right-three {

		0% {
			transform: translateY(2vh) translateX(-10vw) scale(2.0);
		}

		10% {
			transform: translateY(2vh) translateX(10vw) scale(2.0);
		}

		20% {
			transform: translateY(5vh) translateX(20vw) scale(1.5);
		}

		30% {
			transform: translateY(10vh) translateX(30vw) scale(1.0);
		}

		40% {
			transform: translateY(20vh) translateX(40vw) scale(0.6);
		}

		50% {
			transform: translateY(35vh) translateX(50vw) scale(0.6);
		}

		60% {
			transform: translateY(40vh) translateX(60vw) scale(0.6);
		}

		100% {
			transform: translateY(90%) translateX(93vw) scale(0.8);
			animation-play-state: paused;
		}

	}
	@keyframes fly-right-four {

		0% {
			transform: scale(0.6) translateX(63vw) translateY(75vh);
		}



		30% {
			transform: translateY(35vh) translateX(70vw) scale(0.6);
		}


		100% {
			transform: translateY(50vh) translateX(100vw) scale(0.5);
		}

	}

	@keyframes fly-right-five {

		0% {
			transform: scale(0.3) translateX(0vw);
		}

		50% {
			transform: translateY(-10vh) translateX(20vw) scale(0.6);
		}


		100% {
			transform: translateY(-35vh) translateX(38vw) scale(0.6);
		}

	}
	@keyframes fly-right-six {

		0% {
			transform: scale(0.3) translateX(0vw);
		}

		50% {
			transform: translateY(10vh) translateX(50vw) scale(0.6);
		}


		100% {
			transform: translateY(35vh) translateX(100vw) scale(0.6);
			animation-play-state: paused;
		}

	}

}
