.model3D-col{
  display: flex;
  width: 100%;
  text-align: center;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.model3D-col2{
  display: flex;
  width: 100%;
  text-align: center;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.model3D-col3{
  display: flex;
  width: 100%;
  text-align: center;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.otherside_hint{
  position:relative;
  z-index: 999999;
  left:140%;
  width:15%
}
.otherside_hint2{
  position:relative;
  z-index: 999999;
  left:140%;
  width:15%
}
/* xs < 768 */
@media screen and (max-width: 767px) {
  .model3D-col2{
    display:none;
  }
  .otherside_hint{
    display:none
  }
  .otherside_hint2{
    display:none
  }
}

/* sm */
@media screen and (min-width: 768px) {
  .model3D-col2{
    display:none;
  }
  .otherside_hint{
    position:relative;
    z-index: 999999;
    left:140%;
    width:20%
  }
  .otherside_hint2{
    position:relative;
    z-index: 999999;
    left:140%;
    width:20%
  }
}

/* md */
@media screen and (min-width: 992px) {
  .model3D-col2{
    display: flex;
  }
  .model3D-col3{
    display: none;
  }
  .otherside_hint{
    display:none
  }
  .otherside_hint2{
    display:none
  }
}

/* lg */
@media screen and (min-width: 1200px) {
  .middle_text_other{
    display:none;
  }
  .model3D-col2{
    display: flex;
  }
  .model3D-col3{
    display: none;
  }
  .otherside_hint{
    display:inline;
    left:166%;
    width:15%;
    top:-35%;
  }
  .otherside_hint2{
      display:block;
    left:166%;
    width:15%;
    top:-35%;
  }
}


@media screen and (min-width: 1300px) {
  .otherside_hint{
    width:15%;
    top:-35%;
    left:152%;
  }
  .otherside_hint2{
    width:15%;
    top:-35%;
    left:152%;
  }
}


@media screen and (min-width: 1400px) {
  .otherside_hint{
    width:12%;
    top:-35%;
    left:140.5%;
  }
  .otherside_hint2{
    width:12%;
    top:-35%;
    left:140.5%;
  }
}


@media screen and (min-width: 1500px) {
  .otherside_hint{
    width:12%;
    top:-35%;
    left:129.5%;
  }
  .otherside_hint2{
    width:12%;
    top:-35%;
    left:129%;
  }
}

@media screen and (min-width: 1600px) {
  .otherside_hint{
    width:12%;
    top:-35%;
    left:123.5%;
  }
  .otherside_hint2{
    width:12%;
    top:-35%;
    left:123.5%;
  }
}

@media screen and (min-width: 1700px) {
  .otherside_hint{
    width:12%;
    top:-35%;
    left:116.5%;
  }
  .otherside_hint2{
    width:12%;
    top:-35%;
    left:116.5%;
  }
}

@media screen and (min-width: 1800px) {
  .otherside_hint{
    width:12%;
    top:-35%;
    left:109.5%;
  }
  .otherside_hint2{
    width:12%;
    top:-35%;
    left:109.5%;
  }
}

@media screen and (min-width: 1900px) {
  .otherside_hint{
    width:10%;
    top:-35%;
    left:103.5%;
  }
  .otherside_hint2{
    width:10%;
    top:-35%;
    left:103.5%;
  }
}

@media screen and (min-width: 2000px) {
  .otherside_hint{
    width:10%;
    top:-35%;
    left:98.5%;
  }
  .otherside_hint2{
    width:10%;
    top:-35%;
    left:98.5%;
  }
}

@media screen and (min-width: 2100px) {
  .otherside_hint{
    width:10%;
    top:-35%;
    left:93.5%;
  }
  .otherside_hint2{
    width:10%;
    top:-35%;
    left:93.5%;
  }
}

@media screen and (min-width: 2200px) {
  .otherside_hint{
    width:10%;
    top:-35%;
    left:89.5%;
  }
  .otherside_hint2{
    width:10%;
    top:-35%;
    left:89.5%;
  }
}

@media screen and (min-width: 2300px) {
  .otherside_hint{
    width:10%;
    top:-35%;
    left:85.5%;
  }
  .otherside_hint2{
    width:10%;
    top:-35%;
    left:85.5%;
  }
}

@media screen and (min-width: 2400px) {
  .otherside_hint{
    width:10%;
    top:-35%;
    left:81.5%;
  }
  .otherside_hint2{
    width:10%;
    top:-35%;
    left:81.5%;
  }
}

@media screen and (min-width: 2500px) {
  .otherside_hint{
    width:10%;
    top:-35%;
    left:79.5%;
  }
  .otherside_hint2{
    width:10%;
    top:-35%;
    left:79.5%;
  }
}


@media screen and (min-width: 2560px) {
  .otherside_hint{
    width:10%;
    top:-35%;
    left:77%;
  }
  .otherside_hint2{
    width:10%;
    top:-35%;
    left:77%;
  }
}
