 /* .slider{
    width: 100%;
    margin-left: 0;

    height: 100%;
}

.slider img{
    width: 100vw;
    height: 70vh;
}

.imgs{
    height: 70vh;
}

.paulBottomSection {
    padding: 7% 20% 0 20%;
    margin-bottom: 8%;
}

.paulBottomSection p {
    color: #0C3866;
    font-size: 19pt;
}

.paulBottomSection img {
    max-width: -webkit-fill-available;
    height: auto;
    padding-top: 3%;
    padding-bottom: 3%;
}

.image{
  width:100%;
  height:auto;
}

@media only screen and (max-width: 992px) {

    .paulBottomSection {
        padding: 7% 17% 0 17%;
    }

    .paulBottomSection p {
        font-size: 16pt;
    }
}


@media only screen and (max-width: 768px) {

    .paulBottomSection {
        padding: 7% 15% 0 15%;
    }

    .paulBottomSection p {
        font-size: 13pt;
    }
}

 */
