
/* home_colored_header.js */
#home_colored_header_title_ch { /*changed*/
    background-color:#BE0027;
    padding-left: 5%;
    color: white;
    font-size: 24pt;
    font-family: sofia-pro, sans-serif; /*changed*/
    margin-top: 60px;
}
#home_colored_header_title2_ch { /*changed*/
    background-color:#BE0027;
    padding-left: 5%;
    color: white;
    font-size: 24pt;
    font-family: sofia-pro, sans-serif; /*changed*/
    margin-top: 60px;
}

/* xs < 768 */
@media screen and (max-width: 767px) {



    #home_colored_header_title_ch {
        font-size: 15pt;
    }
    #home_colored_header_title_ch {
        padding-top: 5%;
        padding-bottom: 5%;
        text-align: center;
        font-size: 45px;
     }
     #home_colored_header_title2_ch {
       padding-top: 5%;
       padding-bottom: 5%;
       text-align: center;
       font-size: 45px;
      }

    #home_colored_header_title_ch {
        padding-top: 5%;
        padding-bottom: 5%;
     }
     #home_colored_header_title2_ch {
         padding-top: 5%;
         padding-bottom: 5%;
      }


}

/* sm */
@media screen and (min-width: 768px) {

    #home_colored_header_title_ch {
        padding-top: 5%;
        padding-bottom: 5%;
        text-align: center;
        font-size: 45px;
     }
     #home_colored_header_title2_ch{
       padding-top: 5%;
       padding-bottom: 5%;
       text-align: center;
       font-size: 45px;
     }

}

/* md */
@media screen and (min-width: 992px) {

    #home_colored_header_title_ch {
        padding-top: 0;
        padding-bottom: 0;
     }
    #home_colored_header_title_ch{
      padding-top:0;
      padding-bottom: 0;
    }

}

/* lg */
@media screen and (min-width: 1200px) {

    #home_colored_header_title_ch{
      text-align: left;
      font-size:30px;
      padding-top:5px;
      padding-bottom:5px;
    }
    #home_colored_header_title2_ch{
      text-align: left;
      font-size:30px;
      padding-top:5px;
      padding-bottom:5px;
      margin-top:120px;
    }
}
/* @media screen and (min-width: 1500px) {


} */
