/* body {
	overflow-x: hidden;
 }

 #container_box_bird_66{
	width:500px;
	height:300px;
	justify-content: center;
	color:black;
	font-weight:bold;
	position:relative;
	top:200px;
	left:900px;
	display: none;
  }
  #container_box_bird_100{
	width:500px;
	height:300px;
	justify-content: center;
	color:black;
	font-weight:bold;
	position:relative;
	top:200px;
	left:900px;
	display: none;
  }

 .mirror-bird-container {
	min-height: 68rem;
	background-blend-mode: soft-light;
	background-size: cover;
 }
 .mirror-bird-container_after_hover {
	min-height: 68rem;
	background-image: url('../../assets/artist_taiwan_color.jpg') !important;
	background-blend-mode: soft-light;
	background-size: cover;
 }
 .mirror-bird-container2 {
	min-height: 68rem;
	background-image: url('../../assets/healthcare\ professional.jpg');
	background-blend-mode: soft-light;
	background-size: cover;
	background-position: center center;
	display:none;
 }
 .mirror-bird-container2_after_hover {
	min-height: 68rem;
	background-image: url('../../assets/healthcare_professional_taiwan_color.jpg') !important;
	background-blend-mode: soft-light;
	background-size: cover;
 }

 .mirror-bird-container3 {
	min-height: 68rem;
	background-image: url('../../assets/fireman.jpg');
	background-blend-mode: soft-light;
	background-size: cover;
	background-position: center center;
	display:none;
 }
 .mirror-bird-container3_after_hover {
	min-height: 68rem;
	background-image: url('../../assets/fireman_taiwan_color.jpg') !important;
	background-blend-mode: soft-light;
	background-size: cover;
 }
 .mirror-bird-container4 {
	min-height: 68rem;
	background-image: url('../../assets/dancer.jpg');
	background-blend-mode: soft-light;
	background-position: center center;
	display:none;
 }
 .mirror-bird-container4_after_hover {
	min-height: 68rem;
	background-image: url('../../assets/dancer-taiwan_color.jpg') !important;
	background-blend-mode: soft-light;
	background-size: cover;
 }

 .mirror-bird-container5 {
	min-height: 55rem;
	background-image: url('../../assets/children_after_hover.jpg');
	background-blend-mode: soft-light;
	background-size: cover;
	background-position: center center;
	display:none;
 }
 .mirror-bird-container5_after_hover {
	min-height: 55rem;
	background-image: url('../../assets/children_after_hover.jpg') !important;
	background-blend-mode: soft-light;
	background-size: cover;
	display:none;
 }
 .bird {
	  background-image: url(../../assets/pigeon4.svg);
	  background-size: auto 100%;
	  width: 201px;
	  height: 332px;
	  will-change: background-position;
	  animation-name: fly-cycle;
	  animation-timing-function: steps(5);
	animation-iteration-count: infinite;
 }
 .bird--one {
	animation-duration: 1s;
	animation-delay: -0.5s;
 }



 .bird-container--one {
   top: 0%;
	left: -10%;
	transform: scale(0) translateX(-10vw);
	will-change: transform;
	animation-name: fly-right-one;
	animation-timing-function: linear;
	animation-duration: 4s;
	animation-delay: 0;
	animation-fill-mode: forwards;
	animation-play-state: unset;
 }



 @keyframes fly-cycle {

	100% {
	   background-position: -900px 0;
	}

 }

 @keyframes fly-right-one {

	0% {
	   transform: translateY(3vh) translateX(-10vw) scale(2.0);
	}

	10% {
	   transform: translateY(3vh) translateX(10vw) scale(2.0);
	}

	20% {
	   transform: translateY(5vh) translateX(20vw) scale(1.5);
	}

	30% {
	   transform: translateY(10vh) translateX(30vw) scale(1.0);
	}

	40% {
	   transform: translateY(20vh) translateX(40vw) scale(0.6);
	}

	50% {
	   transform: translateY(35vh) translateX(50vw) scale(0.6);
	}

	60% {
	   transform: translateY(40vh) translateX(60vw) scale(0.6);
	}

	100% {
	   transform: translateY(90%) translateX(150vw) scale(0.8);
	   animation-play-state: paused;
	}

 }



 @media screen and (min-width: 767px) {
	#wrapper_mirror{
	  display:none;
	}
  }

 @media screen and (min-width: 992px) {
   #wrapper_mirror{
	 display:none;
   }
 }
 @media screen and (min-width: 1200px) {
	#wrapper_mirror{
	   display:block;
	  }
	.mirror-bird-container {
	   min-height: 65rem;
	   background-image: url('../../assets/artist.jpg');
	   background-blend-mode: soft-light;
	   background-size: cover;
	   background-position: center center;
	   overflow:hidden;
	}
	.mirror-bird-container_after_hover {
	   min-height: 68rem;
	   background-image: url('../../assets/artist_taiwan_color.jpg') !important;
	   background-blend-mode: soft-light;
	   background-size: cover;
	   display:none
	}
	.mirror-bird-container2 {
	   min-height: 65rem;
	   background-image: url('../../assets/healthcare\ professional.jpg');
	   background-blend-mode: soft-light;
	   background-size: cover;
	   background-position: center center;
	   display:none;
	}
	.mirror-bird-container2_after_hover {
	   min-height: 68rem;
	   background-image: url('../../assets/healthcare_professional_taiwan_color.jpg') !important;
	   background-blend-mode: soft-light;
	   background-size: cover;
	   display:none;
	}
	.mirror-bird-container3 {
	   min-height: 55rem;
	   background-image: url('../../assets/fireman.jpg');
	   background-blend-mode: soft-light;
	   background-size: cover;
	   background-position: center center;
	   display:none;
	}
	.mirror-bird-container3_after_hover {
	   min-height: 68rem;
	   background-image: url('../../assets/fireman_taiwan_color.jpg') !important;
	   background-blend-mode: soft-light;
	   background-size: cover;
	   display:none;
	}
	.mirror-bird-container4 {
	   min-height: 55rem;
	   background-image: url('../../assets/dancer.jpg');
	   background-blend-mode: soft-light;
	   background-size: cover;
	   background-position: center center;
	   display:none;
	}
	.mirror-bird-container4_after_hover {
	   min-height: 68rem;
	   background-image: url('../../assets/dancer-taiwan_color.jpg') !important;
	   background-blend-mode: soft-light;
	   background-size: cover;
	   display:none;
	}
	.mirror-bird-container5 {
	   min-height: 55rem;
	   background-image: url('../../assets/children_after_hover.jpg');
	   background-blend-mode: soft-light;
	   background-size: cover;
	   background-position: center center;
	   display:none;
	}
	.mirror-bird-container5_after_hover {
		min-height: 55rem;
		background-image: url('../../assets/children_after_hover.jpg') !important;
		background-blend-mode: soft-light;
		background-size: cover;
		display:none;
	 }

	.bird-container--one {
	   position: absolute;
	  top: 25%;
	   left: -10%;
	   transform: scale(0) translateX(-10vw);
	   will-change: transform;
	   animation-name: fly-right-one;
	   animation-timing-function: linear;
	   animation-duration: 4s;
	   animation-delay: 0;
	   animation-fill-mode: forwards;
	   animation-play-state: unset;

	}



	@keyframes fly-cycle {

	   100% {
		 background-position: -900px 0;
	   }

	}

	@keyframes fly-right-one {

	   0% {
		 transform: translateY(2vh) translateX(-10vw) scale(2.0);
	   }

	   10% {
		 transform: translateY(2vh) translateX(10vw) scale(2.0);
	   }

	   20% {
		 transform: translateY(5vh) translateX(20vw) scale(1.5);
	   }

	   30% {
		 transform: translateY(10vh) translateX(30vw) scale(1.0);
	   }

	   40% {
		 transform: translateY(20vh) translateX(40vw) scale(0.6);
	   }

	   50% {
		 transform: translateY(35vh) translateX(50vw) scale(0.6);
	   }

	   60% {
		 transform: translateY(40vh) translateX(60vw) scale(0.6);
	   }

	   100% {
		 transform: translateY(90%) translateX(110vw) scale(0.8);
		 animation-play-state: paused;
		 overflow:hidden;
	   }

	}
} */
