.box {
  height: 250px;
  display: flex;
  flex-direction: row;
}
.newsletter,
.contact_us {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
}
/* .newsletter > *,
.contact_us > * {
  margin-bottom: 10px;
} */
#contact_name{
  font-size: 15px;
  font-weight: normal;
  width:46%;
  margin-right: 10px;
  padding-left: 5%;
  padding-right: 5%;
}
#contact_email{
  width:46%;
  padding-left: 5%;
  padding-right: 5%;
}
.NC_btn:hover{
  background-color: #0C3866;
  color:white;
}
/* xs < 768 */
@media screen and (max-width: 767px) {
  .box {
    min-height: 600px;
    display: flex;
    flex-direction: column;
  }
  .newsletter,
  .contact_us {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .contact_us > p,
  .newsletter > p {
    font-size: 15px;
  }
  .contact_us :first-child,
  .newsletter :first-child {
    font-size: 25px;
  }
}

/* sm */
@media screen and (min-width: 768px) {
  .contact_us > p,
  .newsletter > p {
    font-size: 15px;
  }
  .contact_us :first-child,
  .newsletter :first-child {
    font-size: 25px;
  }
}

/* md */
@media screen and (min-width: 992px) {
  .contact_us > p,
  .newsletter > p {
    font-size: 15px;
  }
  .contact_us :first-child,
  .newsletter :first-child {
    font-size: 30px;
  }
}

/* lg */
@media screen and (min-width: 1200px) {
  .row{
    margin-right: 0px!important;
  }
  .contact_us > p,
  .newsletter > p {
    font-size: 12px;
  }
  .contact_us :first-child,
  .newsletter :first-child {
    font-size: 20px;
    font-weight:bold;
  }
}
