.formSectionTitle_idf_ch {
  margin-top: 40px;
  margin-bottom:50px;
  font-size: 40px!important;
  background-color: #D9C739;
  font-weight: bold;
}
.uploadButton_idf_ch {
  text-align: center;
  border-radius: 20px;
  background-color: #D9C739;
  color: #0C3866;
  padding-left: 25%;
  padding-right: 25%;
  margin: auto;
  font-weight: bold;
  width:80%;
  padding-top:2%;
  padding-bottom:2%;
  font-size:40px;

}
.mobileSharebutton_idf_ch{
  padding-left:  16%;
  padding-right: 16%;
  background-color:#BE0027;
  color: white;
  border-radius: 20px;
  margin: auto;
  font-weight: bold;
  width:80%;
  padding-top:2%;
  padding-bottom:2%;
  font-size:40px;
}

@media screen and (max-width: 767px) {

  
}

@media screen and (min-width: 768px) {
 
}


@media screen and (min-width: 992px) {

}


@media screen and (min-width: 1200px) {
  .uploadButton_idf_ch {
    text-align: center;
    border-radius: 20px;
    background-color: #D9C739;
    color: #0C3866;
    padding-left: 25%;
    padding-right: 25%;
    margin: auto;
    font-weight: bold;
    width:80%;
    font-size:20px;
  
  }
  .mobileSharebutton_idf_ch{
    padding-left:  16%;
    padding-right: 16%;
    background-color:#BE0027;
    color: white;
    border-radius: 20px;
    margin: auto;
    font-weight: bold;
    width:80%;
    font-size:20px;
  }
  .formSectionTitle_idf_ch {
    margin-top: 40px;
    margin-bottom:50px;
    font-size: 20px!important;
    background-color: #D9C739;
    font-weight: bold;
  }
}


/* .mainContents {
  margin-top: 50px;
  margin-bottom:50px;
  font-family: 'adonis-web';
}


input[type="checkbox"]{
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.formConsent{
  color: #BE0027;
}
.form-section-title{
  background-color: "#D9C739" !important;
  margin-bottom:"2%" !important;
  padding-top:"0.5%" !important;
  padding-bottom:"0.5%" !important;
  font-weight: "bold" !important;
}


.share_button{
  padding-left:  16%;
  padding-right: 16%;
 background-color:#BE0027;
 color: white;
 border-radius:20px ;
 font-size:40px;
 margin: auto;
}
#hint{
  color: #707070;
}
.options{
  font-size: 40px;
}

@media screen and (max-width: 767px) {
  .contentBox_header {
    color:#0C3866;
    font-size:25px;

  }
  .contentBox_content{
    color:#BE0027;
    font-size:25px;
  }

  .contentBox_p {
    font-size: 25px;
    text-align: left;
  }

  #form_field_text{
    font-size:40px;
  }
  .contentsInParagraph {
    font-size: 45px;
  }

  .formLabel {
    font-size:25px;
  }

  .formConsent {
    font-size:25px;
  }
}

@media screen and (min-width: 768px) {
  .contentBox_header {
    color:#0C3866;
    font-size:28px;

  }
  .contentBox_content{
    color:#BE0027;
    font-size:28px;
  }

  .contentBox_p {
    font-size:20px;
    text-align: left;
  }
  .form-file-input{
    font-size: 40px;
    color: #707070;
  }

  .form_section_title{
    background-color: "#D9C739";
    margin-bottom:"2%";
    padding-top:"0.5%";
    padding-bottom:"0.5%";
    font-weight: "bold";
  }
  .contentsInParagraph {
    font-size: 45px;
  }
  .formLabel {
    font-size:20px;
  }

  .formConsent {
    font-size:25px;
  }
  #hint{
    font-size: 30px;
  }
  #form_field_text{
    font-size:40px;
  }
  .submit_button{
     padding-left:  30%;
     padding-right: 30%;
    background-color:#707070;
    color: white;
    border-radius:20px ;
    font-size:40px;
    margin: auto;
  }
}

@media screen and (min-width: 1024px) {
  .contentBox_header {
    color:#0C3866;
    font-size:40px;

  }

  .contentBox_content{
    color:#BE0027;
    font-size:40px;
  }

  .contentBox_p {
    font-size:18px;
    text-align: left;
  }

  .contentsInParagraph {
    font-size: 20px;
  }

  .formLabel {
    font-size:18px;
  }

  .formConsent {
    font-size:18px;
  }
  #form_field_text{
    font-size:40px;
  }
  input[type="checkbox"]{
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
}

@media screen and (min-width: 1200px) {
  .contentBox_header {
    color:#0C3866;
    font-size:50px;

  }
  #hint{
    font-size: 20px !important;
  }
  .contentBox_content{
    color:#BE0027;
    font-size:50px;
  }

  .contentBox_p {
    font-size:25px;
    text-align: left;
  }

  .contentsInParagraph {
    font-size: 25px;
  }

  .formLabel {
    font-size:20px;
  }

  .formConsent {
    font-size:20px !important;
    margin-left: -5%;
  }
  .share_button{
    display: None;
  }
  #form_field_text{
    font-size:20px;
  }

  .form-file-input{
    font-size: 25px;
  }
  .form-section-title{
    background-color: "#D9C739" !important;
    margin-bottom:"2%" !important;
    padding-top:"0.5%" !important;
    padding-bottom:"0.5%" !important;
    font-weight: "bold" !important;
  }
  .submit_button{
       padding-left:  10%;
       padding-right: 10%;
      background-color:#707070;
      color: white;
      border-radius:20px ;
      font-size:25px;
      margin: auto;
  }
  input[type="checkbox"]{
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
  .form-section-title{
    font-family: "sofia-pro", Sans-serif;
    margin-bottom: -0.5%;
    font-size: 20px;
  }
} */
