.box {
  height: 250px;
  display: flex;
  flex-direction: row;
}
.newsletter,
.contact_us {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}
.contact_us > button,
.newsletter > button {
  margin-bottom: 10px;
}
.newsletter > *,
.contact_us > * {
  margin-bottom: 10px;
}

/* xs < 768 */
@media screen and (max-width: 767px) {
  .box {
    height: 600px;
    display: flex;
    flex-direction: column;
  }

  .newsletter,
  .contact_us {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .contact_us > p,
  .newsletter > p {
    font-size: 15px;
  }
  .contact_us :first-child,
  .newsletter :first-child {
    font-size: 25px;
  }
}

/* sm */
@media screen and (min-width: 768px) {
  .contact_us > p,
  .newsletter > p {
    font-size: 15px;
  }
  .contact_us :first-child,
  .newsletter :first-child {
    font-size: 25px;
  }
}

/* md */
@media screen and (min-width: 992px) {
  .contact_us > p,
  .newsletter > p {
    font-size: 15px;
  }
  .contact_us :first-child,
  .newsletter :first-child {
    font-size: 30px;
  }
}

/* lg */
@media screen and (min-width: 1200px) {
  .contact_us > p,
  .newsletter > p {
    font-size: 20px;
  }
  .contact_us :first-child,
  .newsletter :first-child {
    font-size: 35px;
  }
}
