
.footer_ch{
  background-color:#636569;
  height: 10%;
  padding: 10px;
  text-align: center;
  color:#FFFFFF;
  position: relative;
  bottom: 0;
  font-size: 15px;
  font-family: "sofia-pro", Sans-serif !important;
}
.footer_content_ch{
color: #FFFFFF;
font-weight:normal;
font-family: "sofia-pro", Sans-serif !important;
}

.footer_form_container_ch{
  margin-bottom: 40px;
  border-top: 2px solid grey;
}

.footer_submit_btn_ch:hover ,.footer_subscribe_btn_ch:hover{
  background-color: #0C3866;
  color:white;
}
::-webkit-input-placeholder {
      color: rgba(96, 96, 96,);
}
::-moz-placeholder {
      color: rgba(96, 96, 96);
}
::-moz-placeholder {
    color: rgba(96, 96, 96);
}
:-ms-input-placeholder {
    color: rgba(96, 96, 96);
}
@media screen and (max-width: 767px) {
  .footer_ch{
    font-size: 18px;
  }
  .newsletter_name_ch, .newsletter_email_ch, .contact_name_ch, .contact_email_ch, .contact_message_ch{
    font-size: 40px;
    border-radius: 25px;
    text-align: center;
    color: black;
    border-color: #D0D0D0;
    border-style: solid;
    border-width: 2px;
    outline:none;
    resize:none;
  }
  .newsletter_name_ch{
    margin-bottom: 20px;
    border-color: #D0D0D0;
    border-style: solid;
    border-width: 2px;
    width:100%;
    margin:auto;
  }
  .newsletter_email_ch, .contact_message_ch{
    margin-bottom: 20px;
  }
  .contact_name_ch, .contact_email_ch{
    margin-bottom: 40px;
    width:100%;
    border-color: #D0D0D0;
    border-style: solid;
    border-width: 2px;
  }
  .contact_name_ch{
    margin-left: 0px;
    border: 2px;
    border-color: #D0D0D0;
    border-style: solid;
    border-width: 2px;
  }
  .newsletter_email_ch{
    border-color: #D0D0D0;
    border-style: solid;
    border-width: 2px;
    width:100%;
    margin:auto;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .contact_message_ch{
    width:100%;
    margin-left: 20px;
    margin: auto;
    height: 70%;
    margin-bottom: 20px;
    border: 2px;
    border-color: #D0D0D0;
    border-style: solid;
  }
  .footer_form_container_ch{
    border-top: none;
    margin-left: 0% !important;
    margin-right: 0% !important;
    margin-top:60px;
    margin-bottom:60px;
  }

  .footer_newsletter_container_ch{
    margin-top:30px;
  }
  .footer_contact_container_ch{
    /* border-left: 2px;
    border-left-color:  #D0D0D0;
    border-left-style: solid; */
    margin-top:30px;

  }
  .footer_button_row_ch{
    text-align: center;
  }
  .footer_submit_btn_ch, .footer_subscribe_btn_ch{
    background-color:#D0D0D0;
    color:#606060;
    border-radius: 35px;
    padding-top:2%;
    padding-bottom:2%;
    padding-left: 12%;
    padding-right: 12%;
    font-family: "sofia-pro", Sans-serif;
    font-weight: bold;
    border: none;
    font-size:30px;
  }
  .footer_subscribe_btn_ch{
    margin-top: 10px;
    margin-bottom:50px;
  }

  .footer_title_ch{
    font-size: 40px;
    font-family: "sofia-pro", sans-serif;
    text-align: center;
    padding-top: 20px;
    padding-left: 0px !important;
    border-top: 2px solid;
    color:#606060;
      margin-bottom:20px;
  }
  .footer_subtitle_ch{
    font-size: 25px;
    font-family: "sofia-pro", sans-serif;
    text-align: center;
    padding-bottom: 40px;
    color:#606060;
  }
  ::-webkit-input-placeholder {
        color: rgba(96, 96, 96,);
  }
  ::-moz-placeholder {
        color: rgba(96, 96, 96);
  }
  ::-moz-placeholder {
      color: rgba(96, 96, 96);
  }
  :-ms-input-placeholder {
      color: rgba(96, 96, 96);
  }
}


@media screen and (min-width: 768px) {
  .footer_ch{
    font-size: 18px;
  }
  .newsletter_name_ch, .newsletter_email_ch, .contact_name_ch, .contact_email_ch, .contact_message_ch{
    font-size: 40px;
    border-radius: 25px;
    text-align: center;
    color: black;
    border-color: #D0D0D0;
    border-style: solid;
    border-width: 2px;
    outline:none;
    resize:none;
  }
  .newsletter_name_ch{
    margin-bottom: 20px;
    border-color: #D0D0D0;
    border-style: solid;
    border-width: 2px;
    width:100%;
    margin:auto;
  }
  .newsletter_email_ch, .contact_message_ch{
    margin-bottom: 20px;
  }
  .contact_name_ch, .contact_email_ch{
    margin-bottom: 40px;
    width:100%;
    border-color: #D0D0D0;
    border-style: solid;
    border-width: 2px;
  }
  .contact_name_ch{
    margin-left: 0px;
    border: 2px;
    border-color: #D0D0D0;
    border-style: solid;
    border-width: 2px;
  }
  .newsletter_email_ch{
    border-color: #D0D0D0;
    border-style: solid;
    border-width: 2px;
    width:100%;
    margin:auto;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .contact_message_ch{
    width:100%;
    margin-left: 20px;
    margin: auto;
    height: 70%;
    margin-bottom: 20px;
    border: 2px;
    border-color: #D0D0D0;
    border-style: solid;
  }
  .footer_form_container_ch{
    border-top: none;
    margin-left: 0% !important;
    margin-right: 0% !important;
    margin-top:60px;
    margin-bottom:60px;
  }

  .footer_newsletter_container_ch{
    margin-top:30px;
  }
  .footer_contact_container_ch{
    /* border-left: 2px;
    border-left-color:  #D0D0D0;
    border-left-style: solid; */
    margin-top:30px;

  }
  .footer_button_row_ch{
    text-align: center;
  }
  .footer_submit_btn_ch, .footer_subscribe_btn_ch{
    background-color:#D0D0D0;
    color:#606060;
    border-radius: 35px;
    padding-top:2%;
    padding-bottom:2%;
    padding-left: 12%;
    padding-right: 12%;
    font-family: "sofia-pro", Sans-serif;
    font-weight: bold;
    border: none;
    font-size:30px;
  }
  .footer_subscribe_btn_ch{
    margin-top: 10px;
    margin-bottom:50px;
  }
  .footer_submit_btn_ch{
   margin-top: 10px;
   margin-bottom:25px;
 }

  .footer_title_ch{
    font-size: 40px;
    font-family: "sofia-pro", sans-serif;
    text-align: center;
    padding-top: 20px;
    padding-left: 0px !important;
    border-top: 2px solid;
    color:#606060;
      margin-bottom:20px;
  }
  .footer_subtitle_ch{
    font-size: 25px;
    font-family: "sofia-pro", sans-serif;
    text-align: center;
    padding-bottom: 40px;
    color:#606060;
  }
  ::-webkit-input-placeholder {
        color: rgba(96, 96, 96,);
  }
  ::-moz-placeholder {
        color: rgba(96, 96, 96);
  }
  ::-moz-placeholder {
      color: rgba(96, 96, 96);
  }
  :-ms-input-placeholder {
      color: rgba(96, 96, 96);
  }
}


@media screen and (min-width: 992px) {
  .footer_ch{
    font-size: 18px;
  }
  .newsletter_name_ch, .newsletter_email_ch, .contact_name_ch, .contact_email_ch, .contact_message_ch{
    font-size: 40px;
    border-radius: 25px;
    text-align: center;
    color: black;
    border-color: #D0D0D0;
    border-style: solid;
    border-width: 2px;
    outline:none;
    resize:none;
  }
  .newsletter_name_ch{
    margin-bottom: 20px;
    border-color: #D0D0D0;
    border-style: solid;
    border-width: 2px;
    width:100%;
    margin:auto;
  }
  .newsletter_email_ch, .contact_message_ch{
    margin-bottom: 20px;
  }
  .contact_name_ch, .contact_email_ch{
    margin-bottom: 40px;
    width:100%;
    border-color: #D0D0D0;
    border-style: solid;
    border-width: 2px;
  }
  .contact_name_ch{
    margin-left: 0px;
    border: 2px;
    border-color: #D0D0D0;
    border-style: solid;
    border-width: 2px;
  }
  .newsletter_email_ch{
    border-color: #D0D0D0;
    border-style: solid;
    border-width: 2px;
    width:100%;
    margin:auto;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .contact_message_ch{
    width:100%;
    margin-left: 20px;
    margin: auto;
    height: 70%;
    margin-bottom: 20px;
    border: 2px;
    border-color: #D0D0D0;
    border-style: solid;
  }
  .footer_form_container_ch{
    border-top: none;
    margin-left: 0% !important;
    margin-right: 0% !important;
    margin-top:60px;
    margin-bottom:60px;
  }

  .footer_newsletter_container_ch{
    margin-top:30px;
  }
  .footer_contact_container_ch{
    /* border-left: 2px;
    border-left-color:  #D0D0D0;
    border-left-style: solid; */
    margin-top:30px;

  }
  .footer_button_row_ch{
    text-align: center;
  }
  .footer_submit_btn_ch, .footer_subscribe_btn_ch{
    background-color:#D0D0D0;
    color:#606060;
    border-radius: 35px;
    padding-top:2%;
    padding-bottom:2%;
    padding-left: 12%;
    padding-right: 12%;
    font-family: "sofia-pro", Sans-serif;
    font-weight: bold;
    border: none;
    font-size:30px;
  }
  .footer_subscribe_btn_ch{
    margin-top: 10px;
    margin-bottom:50px;
  }
  .footer_submit_btn_ch{
   margin-top: 10px;
   margin-bottom:30px;
 }
  .footer_title_ch{
    font-size: 40px;
    font-family: "sofia-pro", sans-serif;
    text-align: center;
    padding-top: 20px;
    padding-left: 0px !important;
    border-top: 2px solid;
    color:#606060;
      margin-bottom:20px;
  }
  .footer_subtitle_ch{
    font-size: 25px;
    font-family: "sofia-pro", sans-serif;
    text-align: center;
    padding-bottom: 40px;
    color:#606060;
  }
  ::-webkit-input-placeholder {
        color: rgba(96, 96, 96,);
  }
  ::-moz-placeholder {
        color: rgba(96, 96, 96);
  }
  ::-moz-placeholder {
      color: rgba(96, 96, 96);
  }
  :-ms-input-placeholder {
      color: rgba(96, 96, 96);
  }
}


@media screen and (min-width: 1200px) {
  .newsletter_name_ch, .newsletter_email_ch, .contact_name_ch, .contact_email_ch, .contact_message_ch{
    font-size: 20px;
    border-radius: 25px;
    text-align: center;
    color: black;
    border-color: #D0D0D0;
    border-style: solid;
    border-width: 2px;
    outline:none;
  }
  .newsletter_name_ch{
    margin-bottom: 20px;
    border-color: #D0D0D0;
    border-style: solid;
    border-width: 2px;
    width:80%;
    margin:auto;
  }
  .newsletter_email_ch, .contact_message_ch{
    margin-bottom: 20px;
  }
  .contact_name_ch, .contact_email_ch{
    margin-bottom: 20px;
    width:85%;
    border-color: #D0D0D0;
    border-style: solid;
    border-width: 2px;
  }
  .contact_name_ch{
    margin-left: 25px;
    border: 2px;
    border-color: #D0D0D0;
    border-style: solid;
    border-width: 2px;
  }
  .newsletter_email_ch{
    border-color: #D0D0D0;
    border-style: solid;
    border-width: 2px;
    width:80%;
    margin:auto;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .contact_message_ch{
    width:90%;
    margin-left: 20px;
    margin: auto;
    height: 70%;
    margin-bottom: 20px;
    border: 2px;
    border-color: #D0D0D0;
    border-style: solid;
  }
  .footer_form_border_ch{
    border-top:2px solid #D0D0D0;
  }
  .footer_form_container_ch{
    /* width: 100%; */
    /* width:80%;
    margin:auto; */
    /* margin-left: 15% !important;
    margin-right: 15% !important; */
    /* border-top: 2px solid; */
  }

  .footer_newsletter_container_ch{
    border-right: 2px;
    border-right-color:  #D0D0D0;
    border-right-style: solid;
    margin-top:30px;
    padding-top:30px;
  }
  .footer_contact_container_ch{
    /* border-left: 2px;
    border-left-color:  #D0D0D0;
    border-left-style: solid; */
    margin-top:30px;
    padding-top:30px;
    margin-left:25px!important

  }
  .footer_button_row_ch{
    text-align: center;
  }
  .footer_submit_btn_ch, .footer_subscribe_btn_ch{
    background-color:#D0D0D0;
    color:#606060;
    border-radius: 25px;
    padding-top:2%;
    padding-bottom:2%;
    padding-left: 12%;
    padding-right: 12%;
    font-family: "sofia-pro", Sans-serif;
    font-weight: bold;
    border: none;
    font-size:18px;
  }
  .footer_subscribe_btn_ch{
    margin-top: 10px;
  }

  .footer_title_ch{
    font-size: 30px;
    font-family: "sofia-pro", sans-serif;
    text-align: center;
    padding-top: 25px;
    padding-left: 0px !important;
    border-top: 0px;
    color:#606060;
  }
  .footer_subtitle_ch{
    font-size: 16px;
    font-family: "sofia-pro", sans-serif;
    text-align: center;
    padding-bottom: 20px;
    color:#606060;
  }
    ::-webkit-input-placeholder {
          color: #D0D0D0;
    }
    ::-moz-placeholder {
          color: #D0D0D0;
    }
    ::-moz-placeholder {
        color: #D0D0D0;
    }
    :-ms-input-placeholder {
        color: #D0D0D0;
    }
  }
  @media screen and (min-width: 1501px) {
    #contact_name{
      margin-left: 50px;
      border: 2px;
      border-color: #D0D0D0;
      border-style: solid;
      border-width: 2px;
    }
    #contact_email{
      margin-bottom: 20px;
      width:88%;
      border-color: #D0D0D0;
      border-style: solid;
      border-width: 2px;

    }

  }
