
p.PI-subtitle-ch{
  font-family: sofia-pro, sans-serif;
}
h1.PI-title_twoArtist-ch{
  font-family: sofia-pro, sans-serif;
}
.PI-contents_ch {
    margin-top: 2%;
    font-family: 'adonis-web';
    overflow: hidden;
}

.PI-subtitle_ch {
    color: #0C3866;
    margin-top: 5%;
    font-weight: bold;
    font-size: 40px;
}

.PI-title_ch {
    color:#BE0027;
    font-size: 50px;
    margin-bottom: 45px;
    font-weight:bold;
    font-family: 'adonis-web';
}

.PI-last {
    margin-bottom: 70px;
}

.PI-artist_ch {
    color: #0C3866;
    font-size: 19pt;
    padding: 0;
}

a.PI-shareButton_ch {
    border-color: #BE0027;
    background-color: #BE0027;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 25px;
    height: fit-content;
    width: fit-content;
    font-family: "sofia-pro", Sans-serif;
    overflow: hidden;

}
a.PI-shareButton_ch:hover{
  background-color: #0C3866;
}
.PI-colButton {
    display: grid;
    overflow: hidden;
}
.PI-artist-two-ch{
  color: #0C3866;
  font-size: 25px;
  padding: 0;
  font-style: italic;
    padding-left: 0px!important;
    margin-bottom: 0px!important;
    /* font-family: "sofia-pro", Sans-serif !important; */
}
.PI-title_twoArtist-ch{
  color:#BE0027;
  font-size: 35px;
  margin-bottom: 45px;
  /* font-weight:bold; */
  /* font-family: "sofia-pro", Sans-serif !important; */
}
.PI-subtitle-ch {
    color: #0C3866;
    margin-top: 5%;
    /* font-weight: bold; */
    font-size: 30px;
    /* font-family: sofia-pro, sans-serif; */
}
.PI-Artist-p-ch{
    margin-bottom: 0px !important;
}
@media screen and (max-width: 767px) {
  a.PI-shareButton_ch {
      font-size: 10px;
      padding: 5px 36px 5px 36px;
      display: none;
  }
  .PI-subtitle_ch {
      font-size: 50px;
  }
  .PI-subtitle-ch {
      color: #0C3866;
      margin-top: 5%;
      /* font-weight: bold; */
      font-size: 40px;
      /* font-family: sofia-pro, sans-serif; */
  }
  .PI-title_twoArtist-ch{
    color:#BE0027;
    font-size: 50px;
    margin-bottom: 45px;
    /* font-weight:bold; */
    /* font-family: sofia-pro, sans-serif; */
  }
  .PI-title_ch {
      font-size: 60px;
  }

  .PI-artist_ch {
      font-size: 42px;
  }
  .PI-artist-two-ch{
    color: #0C3866;
    font-size: 30px;
    padding: 0;
    font-style: italic;
      padding-left: 0px!important;
      margin-bottom: 0px!important;
      /* font-family: "sofia-pro", Sans-serif !important; */
  }

}

@media only screen and (min-width: 768px) {

  .PI-subtitle_ch {
      font-size: 50px;
  }
  .PI-subtitle-ch {
      color: #0C3866;
      margin-top: 5%;
      /* font-weight: bold; */
      font-size: 40px;
      /* font-family: sofia-pro, sans-serif; */
  }
  .PI-title_twoArtist-ch{
    color:#BE0027;
    font-size: 50px;
    margin-bottom: 45px;
    /* font-weight:bold; */
    /* font-family: sofia-pro, sans-serif; */
  }
  .PI-artist-two-ch{
    color: #0C3866;
    font-size: 30px;
    padding: 0;
    font-style: italic;
      padding-left: 0px!important;
      margin-bottom: 0px!important;
      /* font-family: "sofia-pro", Sans-serif !important; */
  }
  .PI-title_ch {
      font-size: 60px;
  }

  .PI-artist_ch {
      font-size: 42px;
  }

  a.PI-shareButton_ch {
      font-size: 10px;
      padding: 5px 36px 5px 36px;
      display: none;
  }
  @media only screen and (min-width: 992px) {

      .PI-subtitle_ch {
          font-size: 50px;
      }

      .PI-title_ch {
          font-size: 60px;
      }

      .PI-artist_ch {
          font-size: 50px;
      }

      a.PI-shareButton_ch {
          font-size: 10px;
          padding: 5px 32px 5px 32px;
          display: None;
      }
      .PI-title_twoArtist-ch{
        color:#BE0027;
        font-size: 60px;
        margin-bottom: 45px;
        /* font-weight:bold; */
      /* font-family: sofia-pro, sans-serif; */
      }
  }

@media screen and (min-width: 1200px) {
  .PI-subtitle_ch {
      font-size: 40px;
  }

  .PI-title_ch {
      font-size: 50px;
      margin-bottom: 7.5%;
  }

  .PI-artist_ch {
      font-size: 28px;
      margin-bottom: 0px !important;
  }

  a.PI-shareButton_ch {
      font-size: 20px;
      padding: 5px 32px 5px 32px;
      margin-bottom: 0px !important;
      display: block;
    }

    .PI-title_twoArtist-ch{
      color:#BE0027;
      font-size: 35px;
      margin-bottom: 45px;
      /* font-weight:bold; */
      /* font-family: sofia-pro, sans-serif !important; */
    }
    .PI-subtitle-ch {
        color: #0C3866;
        margin-top: 5%;
        /* font-weight: bold; */
        font-size: 30px;
        /* font-family: sofia-pro, sans-serif !important; */
    }
  }
}
