/* p {
  font-family: 'adonis-web';
} */
/* * {
  overflow-x: hidden;
} */
.main_image{
  margin: 0px;
  width:100%;
  height: auto;
  overflow: hidden;

}
.image_col{
  padding: 0px;
  margin-bottom: -100px!important;
}

.mainSection {
  margin-top: 100px;
  margin-bottom:50px;
}
.slick-slider {
  overflow-x: hidden;
  height:auto;
  overflow-y:hidden;
}
.slick-dots {
  position:initial;
  width:100%;
  height:auto;
}
.sky_installation{
  background-color: #2f6e79;
  color:white;
  /* margin-top:0px; */
  padding-left:5%;
  padding-right:5%;
  font-size: 18px;
  border-radius: 50px;
  padding-top:2%;
  padding-bottom:2%;
  width:80%;
  outline: none;
  border:none;
  font-weight:bold
}
.sky_installation:hover{
  background-color: #4E9B16
}
@media screen and (max-width: 767px) {
}

@media screen and (max-width: 768px) {

}

@media screen and (min-width: 992px) {
}


@media screen and (min-width: 1200px) {
}
