.project_content_ch, .hint, .inputfield, .formConsent {
  font-size: 16px;
}
@media screen and (max-width: 767px) {
  .project_content_ch, .hint, .inputfield, .formConsent {
    font-size: 40px;
  }
}

/* sm */
@media screen and (min-width: 768px) {
  .project_content_ch, .hint, .inputfield, .formConsent {
    font-size: 30px;
  }
  .space{
    margin-top: 50px;
  }
}

/* md */
@media screen and (min-width: 992px) {
  .project_content_ch, .hint, .inputfield {
    font-size: 25px;
  }
}

/* lg */
@media screen and (min-width: 1200px) {
  .project_content_ch, .hint, .inputfield {
    font-size: 16px;
  }
}
