p {
  font-family: 'adonis-web';
}

.mainImage {
  padding: 0;
  overflow: hidden;
}

.mainSection {
  margin-top: 100px;
  margin-bottom:50px;
}
.formConsent{
  font-family: "sofia-pro", Sans-serif;
  color:#BE0027;
}

input[type="checkbox"]{
  width: 30px;
  height: 30px;
  cursor: pointer;
}


@media screen and (max-width: 767px) {
  /* .contentsInParagraph {
    font-size: 45px;
  } */
  .formSectionTitle {
    margin-top: 400px;
    font-size:40px;
    font-size: 40px!important;
    background-color: #D9C739;
    font-weight:bold;
  }
  #description , #firstName, #lastName, #userEmail, #description, #location,
  #date {
    font-size: 40px !important;
  }
  .formConsent {
    font-size:25px;
  }
  .btnCancelInModal {
    padding-left: 30% !important;
    padding-right:30% !important;
    background-color:#707070 !important;
    border-radius:20px ;
    margin:auto !important;
    color: white !important;
  }


}

@media screen and (min-width: 768px) {
  /* .contentsInParagraph {
    font-size: 45px;
  } */
  .form-file-input{
    font-size: 40px;
    color: #707070;
  }
  .second_title{
    color:#BE0027;
    font-size: 40px;
    font-weight: bold;
    font-family: "sofia-pro", Sans-serif;
  }
  .project_content{
    font-size:40px;
    margin-bottom: 5%;
    color: #707070;
    font-family: "sofia-pro", Sans-serif;
  }
  .formSectionTitle {
    margin-top: 40px;
    font-size:40px;
    font-size: 40px!important;
    background-color: #D9C739;
    font-weight: bold;
  }
  #description , #firstName, #lastName, #userEmail, #description, #location,
  #date {
    font-size: 40px !important;
  }
  .hint{
    font-size: 30px !important;
    color: #707070;
  }
  .formConsent {
    font-size:30px;
    padding-bottom: 5%;

  }
  .btn-1{
    font-size:40px !important;
    text-align: center !important;
    font-weight: bold !important;
    border-radius: 100px !important;
    margin: auto !important;
    margin-bottom:10% !important;
    padding-top: 0.5% !important;
    padding-bottom: 0.5% !important;
  }

  .submitButton{
    background-color:#707070;
    border-radius:20px ;
    margin:auto !important;
    color: white !important;
    width:100%;
  }
  .btn-2{
    background-color:#BE0027;
    margin:auto;
    margin-bottom:10%;
    font-weight: bold;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    font-size:40px !important;
    text-align: center;
    border-radius: 50px;
  }
  .btnCancelInModal {
    padding-left: 30% !important;
    padding-right:30% !important;
    background-color:#707070 !important;
    border-radius:20px ;
    margin:auto !important;
    color: white !important;
  }
}

@media screen and (min-width: 992px) {
  /* .contentsInParagraph {
    font-size: 35px;
  } */
  .formSectionTitle {
    margin-top: 20px;
    font-size:40px;
  }
  #description , #firstName, #lastName, #userEmail, #description, #location,
  #date {
    font-size: 30px !important;
  }
  .formConsent {
    font-size:25px;
  }
  
  .submitButton{
    padding-left: 30% !important;
    padding-right:30% !important;
    background-color:#707070;
    border-radius:20px !important;
    margin:auto !important;
    color: white !important;
  }
  input[type="checkbox"]{
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
}


@media screen and (min-width: 1200px) {
  /* .contentsInParagraph {
    font-size: 23px !important;
  } */
  .form-file-input{
    font-size: 25px;
  }
  .second_title{
    color:#BE0027;
    font-size: 20px !important;
    font-weight: bold;
    font-family: "sofia-pro", Sans-serif;
    margin-bottom: 50px;
  }
  .project_content{
    font-size:20px !important;
    margin-bottom: 5%;
    color: #707070;
    font-family: "sofia-pro", Sans-serif;
    font-weight: bold;
  }
  .formSectionTitle {
    font-size: 20px!important;
    background-color: #D9C739;
    margin-bottom:2%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    font-weight:bold;
    font-size:20px;
  }
  .inputfield{
    font-size: 20px !important;
  }
  #description, #firstName, #lastName, #userEmail, #location,
  #date {
    font-size: 20px !important;
  }
  .hint{
    font-size: 20px !important;
  }
  .formConsent {
    font-size:20px !important;
    margin-left: -8% !important;
  }
  .submitButton{
    padding-left: 5% !important;
    padding-right:5% !important;
    background-color:#707070;
    border-radius:50px !important;
    margin:auto !important;
    color:white !important;
    font-size: 15px !important;
    border-color: none;
    height:70px;
  }
  .btn-2 {
    background-color: #BE0027;
  }
  input[type="checkbox"]{
    width: 25px;
    height: 25px;
    cursor: pointer;
  }

}
 
 
 
 /* p {
  font-family: 'adonis-web';
}


.mainContents {
  margin-top: 100px;
  margin-bottom:50px;
}

.formLabel .formConsent{
  font-family: "sofia-pro", Sans-serif;
  color:"#BE0027";
}

.imageSlider {
  padding: 0;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .contentsInParagraph {
    font-size: 45px;
  }

  .formLabel {
    font-size:25px;
    font-family: sophia
  }

  .formConsent {
    font-size:25px;
  }
  input[type="checkbox"]{
    width: 50px; 
    height: 50px; 
    cursor: pointer;
  }
  .submit_button{
    padding-left: 30% !important;
    padding-right:30% !important;
    background-color:#707070 !important;
    border-radius:20px !important;
    margin:auto !important;
    color: white !important;
  }
  #description , #firstName, #lastName, #userEmail, #description, #location,
  #date {
    font-size: 40px !important;
  }
  .hed{
    font-size:40px;
  }
}

@media screen and (min-width: 768px) {
  .contentsInParagraph {
    font-size: 45px;
  }

  .formLabel {
    font-size:40px;
    padding-bottom: 15px;
  }
  .formConsent {
    font-size:30px;
    padding-bottom: 5%;

  }
  .form-file-input{
    font-size: 40px;
    color: #707070;
  }
  .hint{
    font-size: 30px !important;
    color: #707070;
  }
  .btn{
    font-size:40px !important;
    text-align: center;
  }
  .share .sharebtn .col-button{
    font-size: 40px;
    padding-right:"10%"!important;
    padding-left:"30%"!important;
  }
  .share_button{
    padding-right:16%;
    padding-left:16%;
    background-color:#BE0027;
    border-radius:20px;
    margin:auto;
    margin-bottom:10%;
}
  input[type="checkbox"]{
    width: 50px; 
    height: 50px; 
    cursor: pointer;
  }
  #firstName{
    font-size: 40px;
  }
  .submit_button{
    padding-left: 30% !important;
    padding-right:30% !important;
    background-color:#707070 !important;
    border-radius:20px !important;
    margin:auto !important;
    color: white !important;
  }
  #description , #firstName, #lastName, #userEmail, #description, #location,
  #date {
    font-size: 40px !important;
  }
  .hed{
    font-size:40px;
  }
  .second_title{
    color:#BE0027;
    font-size: 40px;
    font-family: "sofia-pro", Sans-serif;
  }
  .project_content{
    font-size:40px;
    margin-bottom: 5%;
    color: #4A4A4A;
    font-family: "sofia-pro", Sans-serif;
  }
}

@media screen and (min-width: 992px) {
  input[type="checkbox"]{
    width: 50px; 
    height: 50px; 
    cursor: pointer;
  }
  .contentsInParagraph {
    font-size: 35px;
  }
  .btn{
    font-size:40px !important;
    text-align: center;
  }
  .form-file-input{
    font-size: 30px;
    color: #707070;
  }
  .formLabel {
    font-size:25px;
  }

  .formConsent {
    font-size:25px;
  }
  input[type="checkbox"]{
    width: 25px; 
    height: 25px; 
    cursor: pointer;
  }
  #firstName{
    font-size: 30px !important;
  }
  .submit_button{
    padding-left: 30% !important;
    padding-right:30% !important;
    background-color:#707070 !important;
    border-radius:20px !important;
    margin:auto !important;
    color: white !important;
  }
  #description , #firstName, #lastName, #userEmail, #description, #location,
  #date {
    font-size: 30px !important;
  }
}

@media screen and (min-width: 1200px) {
  .hed{
    font-size: 30px!important;
  }
  .contentsInParagraph {
    font-size: 30px;
  }
  .btn{
    font-size:30px !important;
    text-align: center;
  }

  .formLabel {
    font-size:30px;
  }
  .form-file-input{
    font-size: 30px;
    color: #707070;
  }
  .formConsent {
    font-size:25px !important;
    margin-left: -8% !important;
  }
  input[type="checkbox"]{
    width: 25px; 
    height: 25px; 
    cursor: pointer;
  }
  #description , #firstName, #lastName, #userEmail, #description, #location,
  #date {
    font-size: 30px !important;
  }
  .hint{
    font-size: 20px !important;
  }
  .submit_button{
    padding-left: 5% !important;
    padding-right:5% !important;
    background-color:#707070 !important;
    border-radius:50px !important;
    margin:auto !important;
    color:white !important;
  }
  .second_title{
    color:#BE0027;
    font-size: 30px;
    font-weight: bold;
    font-family: "sofia-pro", Sans-serif;
    margin-bottom: 50px;
  }

  .project_content{
    font-size:25px;
    margin-bottom: 5%;
    color: #4A4A4A;
    font-family: "sofia-pro", Sans-serif;
    font-weight: bold;
  }
}  */