
.people_and_mask_middele{
    white-space: pre-line;
}
/*


.mainContents {
  margin-top: 50px;
  margin-bottom:50px;
  font-family: 'adonis-web';
}


input[type="checkbox"]{
  width: 30px;
  height: 30px;
  cursor: pointer;
}



@media screen and (max-width: 767px) {
  .contentBox_header {
    color:#0C3866;
    font-size:25px;

  }
  .contentBox_content{
    color:#BE0027;
    font-size:25px;
  }

  .contentBox_p {
    font-size: 25px;
    text-align: left;
  }


  .contentsInParagraph {
    font-size: 25px;
  }

  .formLabel {
    font-size:25px;
  }

  .formConsent {
    font-size:25px;
  }
}

@media screen and (min-width: 768px) {
  .contentBox_header {
    color:#0C3866;
    font-size:28px;

  }
  .contentBox_content{
    color:#BE0027;
    font-size:28px;
  }

  .contentBox_p {
    font-size:20px;
    text-align: left;
  }


  .contentsInParagraph {
    font-size: 25px;
  }
  .formLabel {
    font-size:20px;
  }

  .formConsent {
    font-size:25px;
  }
}

@media screen and (min-width: 992px) {
  .contentBox_header {
    color:#0C3866;
    font-size:40px;

  }
  .contentBox_content{
    color:#BE0027;
    font-size:40px;
  }

  .contentBox_p {
    font-size:18px;
    text-align: left;
  }


  .contentsInParagraph {
    font-size: 20px;
  }

  .formLabel {
    font-size:18px;
  }

  .formConsent {
    font-size:18px;
  }
}

@media screen and (min-width: 1200px) {
  .contentBox_header {
    color:#0C3866;
    font-size:50px;

  }
  .contentBox_content{
    color:#BE0027;
    font-size:50px;
  }

  .contentBox_p {
    font-size:25px;
    text-align: left;
  }


  .contentsInParagraph {
    font-size: 25px;
  }

  .formLabel {
    font-size:20px;
  }

  .formConsent {
    font-size:20px;
  }
}
 */
