/* home_v2.js  */
#homeFirstRow {
    width: 100%;
    margin: 0;
}

#homeThirdSection {
    padding: 10%;
}

/* projectsScrollable.js */
#projectsScrollingSection {
    background-color: rgb(206, 188, 44);
}
#emptySpace {
    height: 30px;
}

/* projectNameRight.js & projectNameLeft.js */
#projectImage {
    width:100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#projectLine {
    width: 100%;
    background-color: black;
    height: 1px;
    margin-top: 30%;
}

#projectName { 
    color: white;
    font-size: 15px;
    margin-top: 30%;
}


#mainRow{
    width: 100%;
    padding-top: 100px;
    margin:0;
    padding-left: 3%;
    padding-right: 3%;
}


/* homeTopSection.js */
#homeTopSection {
    width: 100%;
    overflow: hidden !important;
}

#homeTopSection #topSectionRow {
    width: 100%;
    margin: 0;
}

#homeTopSection .firstCols {
    padding: 0;
}

#homeTopSection #projectsScroll {
    width: 100%;
    height: 70vh;
    padding: 0;
    overflow-y: scroll;
}

#topSectionRow .firstCols #leftImage{
    width: 100%;
    height: 70vh;
}

/* homeSecondSection.js */
#homeSecondSection {
    border-top: solid 0.5px gray;
    border-bottom: solid 0.5px gray;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

/* homeProjectRight.js */
#thirdSectionHomeProjectRow {
    width: 100%;
    margin-right: 0!important;
    margin-left: 0 !important;
}

#homeProjectRight .homeProjectBlankCol {
    background-color: rgb(93, 93, 93);
    padding-top: 130px;
    padding-bottom: 130px;
}

#homeProjectRight .homeProjectTitleCol {
    background-color: rgb(206, 188, 44);
    color: rgb(19, 46, 83);
    padding-top: 130px;
    padding-bottom: 130px;
    text-align: center;
    font-size: 15pt;
}

#homeProjectRight {
    margin: 10% 0;
}

#sponsorSlider {
    padding: 20%;
}

/*SponsorImgSlider.js*/
.home_sponsor_img {
    width: 100%;
    height: 20vh;
}

#home_sponsor_slider {
    padding: 0 60px;
    width: 80%;
    margin: 0 auto;
}

/* home_colored_header.js */
#home_colored_header_title {
    background-color:rgb(173, 0, 30);
    padding-left: 5%;
    color: white;
    font-size: 24pt;
}

#home_colored_header_line {
    background-color:rgb(173, 0, 30);
    height: 3px;
    margin-top: 7px;
}


/* xs < 768 */
@media screen and (max-width: 767px) {
    #projectName { 
        font-size: 10pt;
    }
    #homeTopSection #projectsScroll {
        height: 30vh;
    }
    #topSectionRow .firstCols #leftImage{
        height: 30vh;
    }
    #homeSecondSection {
        padding-top: 15%;
        padding-bottom: 15%;
        padding-left: 10%;
        padding-right: 10%;
    }
    #homeProjectRight .homeProjectBlankCol {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    #homeProjectRight .homeProjectTitleCol {
        padding-top: 50px;
        padding-bottom: 50px;
        font-size: 10pt;
    }
    .home_sponsor_img {
        height: 10vh;
    }
    
    #home_sponsor_slider {
        width: 90%;
    }

    #home_colored_header_title {
        font-size: 15pt;
    }
}

/* sm */
@media screen and (min-width: 768px) {
    #homeTopSection #projectsScroll {
        height: 40vh;
    }
    #topSectionRow .firstCols #leftImage{
        height: 40vh;
    }
    #homeSecondSection {
        padding-top: 5%;
        padding-bottom: 5%;
        padding-left: 10%;
        padding-right: 10%;
    }
    #homeProjectRight .homeProjectBlankCol {
        padding-top: 90px;
        padding-bottom: 90px;
    }
    
    #homeProjectRight .homeProjectTitleCol {
        padding-top: 90px;
        padding-bottom: 90px;
    }

}

/* md */
@media screen and (min-width: 992px) {
    #projectLine {
        margin-top: 40%;
    }
    #homeTopSection #projectsScroll {
        height: 50vh;
    }
    #topSectionRow .firstCols #leftImage{
        height: 50vh;
    }
    #homeSecondSection {
        padding-top: 5%;
        padding-bottom: 5%;
        padding-left: 10%;
        padding-right: 10%;
    }
    #homeProjectRight .homeProjectBlankCol {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    
    #homeProjectRight .homeProjectTitleCol {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

/* lg */
@media screen and (min-width: 1200px) {
    #projectName { 
        font-size: 20pt;
    }
    #homeTopSection #projectsScroll {
        height: 70vh;
    }
    #topSectionRow .firstCols #leftImage{
        height: 70vh;
    }
    #homeProjectRight .homeProjectBlankCol {
        background-color: rgb(93, 93, 93);
        padding-top: 130px;
        padding-bottom: 130px;
    }
    
    #homeProjectRight .homeProjectTitleCol {
        background-color: rgb(206, 188, 44);
        padding-top: 130px;
        padding-bottom: 130px;
    }
}