/* 
#projectImage {
    width:100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#projectLine {
    width: 100%;
    background-color: black;
    height: 1px;
    margin-top: 30%;
}

#projectName { 
    color: white;
    font-size: 12px;
    margin-top: 30%;
}


#mainRow{
    width: 100%;
    padding-top: 100px;
    margin: 0;

}

.projectCols {
    margin-left: 20px;
    margin-right: 20px;
}

@media only screen and (min-width: 768px) {

} */