#share_button{
  background-color: #BE0027;
}

#logo  {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 16%;
  margin-top: 10px;
  margin-bottom: 8px;
}

#mobileLine {
  visibility: hidden;
  margin: 0;
}
.row {
  margin-right:0px !important;

}

/* xs < 768 */
@media screen and (max-width: 767px) {
  #logo  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-top: 10px;
  }
}

/* sm */
@media screen and (min-width: 768px) {
  #logo  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    margin-top: 10px;
  }
    .row {
      margin-right:0px !important;

  }

  #mobileLine {
    visibility: visible;
    color: black;
    width: 70%;
    border-top: 2px solid #bcbcbc;
    margin: auto;
  }
}

/* md */
@media screen and (min-width: 992px) {
  #logo  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    margin-top: 10px;
  }
  #mobileLine {
    visibility: hidden;
  }
}

/* lg */
@media screen and (min-width: 1200px) {
  #logo  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 21%;
    margin-top: 25px;
  }
  #mobileLine {
    visibility: hidden;
  }
      .row {
    margin-right:0px !important;

}
}
