
.footer{
  background-color:#636569;
  height: 10%;
  padding: 10px;
  text-align: center;
  color:#FFFFFF;
  position: relative;
  bottom: 0;
  font-size: 15px;
  font-family: "sofia-pro", Sans-serif !important;
}
.footer_content{
color: #FFFFFF;
font-weight:normal;
font-family: "sofia-pro", Sans-serif !important;
}

.footer_form_container{
  margin-bottom: 40px;
  border-top: 2px solid grey;
}

.footer_submit_btn:hover ,.footer_subscribe_btn:hover{
  background-color: #0C3866;
  color:white;
}

@media screen and (max-width: 767px) {
}


@media screen and (min-width: 768px) {
  .footer{
    font-size: 18px;
  }
  #newsletter_name, #newsletter_email, #contact_name, #contact_email, #contact_message{
    font-size: 40px;
    border-radius: 25px;
    text-align: center;
    color: black;
    border-color: #D0D0D0;
    border-style: solid;
    border-width: 2px;
    outline:none;
  }
  #newsletter_name{
    margin-bottom: 20px;
    border-color: #D0D0D0;
    border-style: solid;
    border-width: 2px;
    width:100%;
    margin:auto;
  }
  #newsletter_email, #contact_message{
    margin-bottom: 20px;
  }
  #contact_name, #contact_email{
    margin-bottom: 20px;
    width:100%;
    border-color: #D0D0D0;
    border-style: solid;
    border-width: 2px;
  }
  #contact_name{
    margin-left: 0px;
    border: 2px;
    border-color: #D0D0D0;
    border-style: solid;
    border-width: 2px;
  }
  #newsletter_email{
    border-color: #D0D0D0;
    border-style: solid;
    border-width: 2px;
    width:100%;
    margin:auto;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  #contact_message{
    width:100%;
    margin-left: 20px;
    margin: auto;
    height: 70%;
    margin-bottom: 20px;
    border: 2px;
    border-color: #D0D0D0;
    border-style: solid;
  }
  .footer_form_container{
    border-top: none;
    margin-left: 0% !important;
    margin-right: 0% !important;
  }

  .footer_newsletter_container{
    margin-top:30px;
  }
  .footer_contact_container{
    /* border-left: 2px;
    border-left-color:  #D0D0D0;
    border-left-style: solid; */
    margin-top:30px;

  }
  .footer_button_row{
    text-align: center;
  }
  .footer_submit_btn, .footer_subscribe_btn{
    background-color:#D0D0D0;
    color:#606060;
    border-radius: 35px;
    padding-top:2%;
    padding-bottom:2%;
    padding-left: 12%;
    padding-right: 12%;
    font-family: "sofia-pro", Sans-serif;
    font-weight: bold;
    border: none;
    font-size:30px;
  }
  .footer_subscribe_btn{
    margin-top: 10px;
  }

  .footer_title{
    font-size: 40px;
    font-family: "sofia-pro", sans-serif;
    text-align: center;
    padding-top: 20px;
    padding-left: 0px !important;
    border-top: 2px solid;
    color:#606060;
  }
  .footer_subtitle{
    font-size: 25px;
    font-family: "sofia-pro", sans-serif;
    text-align: center;
    padding-bottom: 20px;
    color:#606060;
  }
  /* ::-webkit-input-placeholder {
    text-align: center;
    vertical-align: middle;
  }
  ::-moz-placeholder {
    text-align: center;
  }
  ::-moz-placeholder {
    text-align: center;
  }
  :-ms-input-placeholder {
    text-align: center;
  } */
}


@media screen and (min-width: 992px) {

}


@media screen and (min-width: 1200px) {
  #newsletter_name, #newsletter_email, #contact_name, #contact_email, #contact_message{
    font-size: 20px;
    border-radius: 25px;
    text-align: center;
    color: black;
    border-color: #D0D0D0;
    border-style: solid;
    border-width: 2px;
    outline:none;
  }
  #newsletter_name{
    margin-bottom: 20px;
    border-color: #D0D0D0;
    border-style: solid;
    border-width: 2px;
    width:80%;
    margin:auto;
  }
  #newsletter_email, #contact_message{
    margin-bottom: 20px;
  }
  #contact_name, #contact_email{
    margin-bottom: 20px;
    width:90%;
    border-color: #D0D0D0;
    border-style: solid;
    border-width: 2px;
  }
  #contact_name{
    margin-left: 20px;
    border: 2px;
    border-color: #D0D0D0;
    border-style: solid;
    border-width: 2px;
  }
  #newsletter_email{
    border-color: #D0D0D0;
    border-style: solid;
    border-width: 2px;
    width:80%;
    margin:auto;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  #contact_message{
    width:90%;
    margin-left: 20px;
    margin: auto;
    height: 70%;
    margin-bottom: 20px;
    border: 2px;
    border-color: #D0D0D0;
    border-style: solid;
  }
  .footer_form_border{
    border-top:2px solid #D0D0D0;
  }
  .footer_form_container{
    /* width: 100%; */
    /* width:80%;
    margin:auto; */
    /* margin-left: 15% !important;
    margin-right: 15% !important; */
    /* border-top: 2px solid; */
  }

  .footer_newsletter_container{
    /* border-right: 2px;
    border-right-color:  #D0D0D0;
    border-right-style: solid; */
    margin-top:30px;
  }
  .footer_contact_container{
    border-left: 2px;
    border-left-color:  #D0D0D0;
    border-left-style: solid;
    margin-top:30px;

  }
  .footer_button_row{
    text-align: center;
  }
  .footer_submit_btn, .footer_subscribe_btn{
    background-color:#D0D0D0;
    color:#606060;
    border-radius: 25px;
    padding-top:2%;
    padding-bottom:2%;
    padding-left: 12%;
    padding-right: 12%;
    font-family: "sofia-pro", Sans-serif;
    font-weight: bold;
    border: none;
    font-size:18px;
  }
  .footer_subscribe_btn{
    margin-top: 10px;
  }

  .footer_title{
    font-size: 30px;
    font-family: "sofia-pro", sans-serif;
    text-align: center;
    padding-top: 20px;
    padding-left: 0px !important;
    border-top: 0px;
    color:#606060;
  }
  .footer_subtitle{
    font-size: 12px;
    font-family: "sofia-pro", sans-serif;
    text-align: center;
    padding-bottom: 20px;
    color:#606060;
  }
  /* ::-webkit-input-placeholder {
    text-align: center;
    vertical-align: middle;
  }
  ::-moz-placeholder {
    text-align: center;
  }
  ::-moz-placeholder {
    text-align: center;
  }
  :-ms-input-placeholder {
    text-align: center;
  } */
}
