.topSection, .middleSection, .bottomSection {
    border-top: solid #707070 1px;
}

.leftSide, .rightSide {
    height: 600px;
    width: 100%;
}

.rightSide {
    background-color: #D9C739;
    overflow-y: scroll;
}

.row.program {
    margin-right: 0;
    margin-left: 0;
    padding: 60px 20px 20px 20px;
    display: flex;
    max-width: 100%;
}

.col.image {
    left: 50%;
    /* border: solid red 1px; */
}

.program img {
    padding: 0 5% 0 5%;
    width: 100%;
    height: auto;
}

.col.title {
    /* border: solid blue 1px; */
    display: flex;
    align-items: center;
}

.program h5 { 
    width: inherit;
    color: white;
    white-space: pre-wrap;
    margin-left: 25%;
}

.program hr {
    height: 2px;
    background-color: #4A4A4A;
    margin: 30px 0px 0px 0px;
}

.middleSection {
    padding: 120px;
}

.programRoute {
    margin: 5% 10% 5% 10%;
    height: 400px;
}

.programRoute .left {
    width: 85%;
    float: left;
    background-color:#4A4A4A;
    height: inherit;
    position: relative;
}

.programRoute .left .routeTitle{
    position: absolute;
    bottom: 10%;
    right: 0;
    max-width: 80%;
}

.programRoute .left h1 {
    text-align: right;
    color: white;
    font-weight: 600;
    font-size: 15pt;
    margin: 10px 25px 10px 25px;
}

.programRoute .left a:hover {
   text-decoration: none;
}

.programRoute hr {
    background-color: #D9C739;
    height: 25px;
}

.programRoute .right {
    width: 15%;
    float: left;
    background-color:#D9C739;
    height: inherit;
}

.logoSlider {
    width: 80%;
    margin: auto;
    position: relative;
}

.logoSlider img {
    width: 30%;
    height: auto;
    padding: 0px 20px 50px 20px;
}

.slick-prev {
    left: 3% !important;
    z-index: 1;
}

.slick-next {
    right: 3% !important;
    z-index: 1;
}

/* @media (min-width: 425px) {

} */


/* @media (min-width: 580px) {

} */
@media (min-width: 1000px) {
    .leftSide, .rightSide {
        height: 100vh;
        width: 100%;
    }
    .programRoute {
        height:600px;
    }
    .programRoute .left h1 {
        font-size: 20pt;
    }
}


/* @media only screen and (max-width: 800px) {

    .programRoute {
        height: 50vh;
    }

    .programRoute .left h1 {
        font-size: 24pt;
    }

    .programRoute hr {
        width: 100%;
        float: right;
        margin-top: 0;
    }

    .slick-prev {
        left: 5% !important;
    }

    .slick-next {
        right: 5% !important;
    }
}


@media only screen and (max-width: 700px) {

    .program h5 {
        font-size: 12pt;
    }

    .title {
        top: 45%;
    }

    .programRoute .left h1 {
        font-size: 17pt;
    }
}


@media only screen and (max-width: 600px) {

    .program h5 {
        font-size: 10pt;
    }

    .programRoute {
        height: 40vh;
    }

} */
