/* 

.container_osom {
    background-color: #71799d;
    font: white;
    width:100%;
    height:100%;
    float:right;
}
.test {
    margin:auto;
    padding:10px;
}


#title_osom {
    color: white;
    font-size: 50px;
    margin:30px;
    text-align: left;
}

#content_osom {
    color:white;
    font-size:20px;
    margin:30px;
    text-align: left;

}
.btn_osom {
    font-size: 20px;
    padding: 15px;
    border: 1px white solid;
    background-color: #71799d;
    color:white;
    margin:10px;
    margin-bottom: 50px;

}
.test2 {
    text-align: center;
}

#mod{
  display:inline-block;
}

@media screen and (max-width: 767px) {

  .contents {
    font-size: 50px;
  }
}

@media screen and (min-width: 768px) {

  .contents {
    font-size: 45px;
  }
}

@media screen and (min-width: 992px) {

  .contents {
    font-size: 40px;
  }
}

@media screen and (min-width: 1200px) {

  .contents {
    font-size: 25px;
  }
} */
