


.mainContents {
  margin-top: 50px;
  margin-bottom:50px;
  font-family: 'adonis-web';
}


input[type="checkbox"]{
  width: 30px; /*Desired width*/
  height: 30px; /*Desired height*/
  cursor: pointer;
}



/* xs < 768 */
@media screen and (max-width: 767px) {
  .contentBox_header {
    color:#0C3866;
    font-size:25px;

  }
  .contentBox_content{
    color:#BE0027;
    font-size:25px;
  }

  .contentBox_p {
    font-size: 25px;
    text-align: left;
  }


  .contentsInParagraph {
    font-size: 25px;
  }

  .formLabel {
    font-size:25px;
  }

  .formConsent {
    font-size:25px;
  }
}

/* sm */
@media screen and (min-width: 768px) {
  .contentBox_header {
    color:#0C3866;
    font-size:28px;

  }
  .contentBox_content{
    color:#BE0027;
    font-size:28px;
  }

  .contentBox_p {
    font-size:20px;
    text-align: left;
  }


  .contentsInParagraph {
    font-size: 25px;
  }
  .formLabel {
    font-size:20px;
  }

  .formConsent {
    font-size:25px;
  }
}

/* md */
@media screen and (min-width: 992px) {
  .contentBox_header {
    color:#0C3866;
    font-size:40px;

  }
  .contentBox_content{
    color:#BE0027;
    font-size:40px;
  }

  .contentBox_p {
    font-size:18px;
    text-align: left;
  }


  .contentsInParagraph {
    font-size: 20px;
  }

  .formLabel {
    font-size:18px;
  }

  .formConsent {
    font-size:18px;
  }
}

/* lg */
@media screen and (min-width: 1200px) {
  .contentBox_header {
    color:#0C3866;
    font-size:50px;

  }
  .contentBox_content{
    color:#BE0027;
    font-size:50px;
  }

  .contentBox_p {
    font-size:25px;
    text-align: left;
  }


  .contentsInParagraph {
    font-size: 25px;
  }

  .formLabel {
    font-size:20px;
  }

  .formConsent {
    font-size:20px;
  }
}

/**
         {/* <Row className="startingRow">
            <Col lg={{span:6, offset:2}} xs={{span:6, offset:2}}>
              <p className="contentBox_header" >Behind the Masks</p>
            </Col>
          </Row>
          <Row>
            <Col lg={{span:6, offset:2}} xs={{span:6, offset:2}}>
              <p className="contentBox_content">People and Mask</p>
            </Col>
          </Row>
          <Row>
            <Col lg={{span:6, offset:2}} xs={{span:6, offset:2}}>
                <p className="contentBox_p">Artist: Lady Hao Hao</p>
            </Col>
            <Col lg={{span:3, offset:1}} xs={{span:4, offset:0}}>
                  <Button style={{display:"inline", backgroundColor: "#BE0027", paddingLeft:"30%", paddingRight:"30%", borderRadius:"25px"}}>SHARE IT</Button>
                </Col>
          </Row> */
