
.PI-secondlast{
  margin-bottom: 0px!important;
  font-style: italic;
}
.PI-Artist-p{
  margin-bottom: 0px !important;
}
.PI-contents {
    margin-top: 2%;
    font-family: 'adonis-web';
    overflow: hidden;
}
.PI-contents_two{
  border-top: 2px solid ;
  margin-top: 2%;
  font-family: 'adonis-web';
  overflow: hidden;

}

.PI-subtitle {
    color: #0C3866;
    margin-top: 5%;
    font-weight: bold;
    font-size: 40px;
    /* font-family: adonis-web !important; */
}
.PI-subtitle_twoArtist {
    color: #0C3866;
    margin-top: 5%;
    font-weight: bold;
    font-size: 40px;
    /* font-family: adonis-web !important; */
}

.PI-title {
    color:#BE0027;
    font-size: 50px;
    margin-bottom: 45px;
    font-weight:bold;
    font-family: adonis-web !important;
}

.PI-title_twoArtist {
  color:#BE0027;
  font-size: 50px;
  margin-bottom: 45px;
  font-weight:bold;
  /* font-family: adonis-web !important; */
}


.PI-last {
  margin-top: 0px;
    margin-bottom: 70px;
}

.PI-artist {
    color: #0C3866;
    font-size: 19pt;
    padding: 0;
    font-style: italic;
}
.PI-artist-two{
  color: #0C3866;
  font-size: 19pt;
  padding: 0;
  font-style: italic;
    padding-left: 0px!important;
    margin-bottom: 0px!important;
}

a.PI-shareButton {
    border-color: #BE0027;
    background-color: #BE0027;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 25px;
    height: fit-content;
    width: fit-content;
    font-family: "sofia-pro", Sans-serif;
    overflow: hidden;

}
a.PI-shareButton:hover{
  background-color: #0C3866;
}
.PI-colButton {
    display: grid;
    overflow: hidden;
}
/* .PI-title_twoArtist-ch{
  color:#BE0027;
  font-size: 35px;
  margin-bottom: 45px;
  font-weight:bold;
  font-family: "sofia-pro", Sans-serif !important;
}
.PI-subtitle-ch {
    color: #0C3866;
    margin-top: 5%;
    font-weight: bold;
    font-size: 30px;
    font-family: sofia-pro, sans-serif;
} */

@media screen and (max-width: 767px) {
  /* .PI-title_twoArtist-ch{
    color:#BE0027;
    font-size: 50px;
    margin-bottom: 45px;
    font-weight:bold;
    font-family: sofia-pro, sans-serif;
  } */
  a.PI-shareButton {
      font-size: 10px;
      padding: 5px 36px 5px 36px;
      display: none;
  }
  .PI-Artist-p{
    font-size:30px;
  }
  .PI-artist-two{
    color: #0C3866;
    /* font-size: 32px; */
    padding: 0;
    font-style: italic;
      padding-left: 0px!important;
      margin-bottom: 0px!important;
  }
  /* .PI-subtitle-ch {
      color: #0C3866;
      margin-top: 5%;
      font-weight: bold;
      font-size: 40px;
      font-family: sofia-pro, sans-serif;
  } */
}

@media only screen and (min-width: 768px) {
  /* .PI-subtitle-ch {
      color: #0C3866;
      margin-top: 5%;
      font-weight: bold;
      font-size: 40px;
      font-family: sofia-pro, sans-serif;
  } */
  .PI-subtitle {
      font-size: 50px;
  }
  .PI-subtitle_twoArtist {
      font-size: 50px;
  }

  .PI-title_twoArtist {
      font-size: 60px;
  }

  .PI-Artist-p{
    font-size:35px;
  }
  .PI-artist-two{
    color: #0C3866;
    /* font-size: 32px; */
    padding: 0;
    font-style: italic;
      padding-left: 0px!important;
      margin-bottom: 0px!important;
  }

  a.PI-shareButton {
      font-size: 10px;
      padding: 5px 36px 5px 36px;
      display: none;
  }
  @media only screen and (min-width: 992px) {

      .PI-subtitle {
          font-size: 50px;
      }
      .PI-subtitle_twoArtist {
          font-size: 50px;
      }

      .PI-title {
          font-size: 60px;
      }
      .PI-title_twoArtist {
          font-size: 60px;

      }
      .PI-artist {
          font-size: 50px;
      }
      .PI-Artist-p{
        font-size:42px;
      }
      .PI-artist-two{
        color: #0C3866;
        /* font-size: 32px; */
        padding: 0;
        font-style: italic;
          padding-left: 0px!important;
          margin-bottom: 0px!important;
      }

      a.PI-shareButton {
          font-size: 10px;
          padding: 5px 32px 5px 32px;
          display: None;
      }
  }

@media screen and (min-width: 1200px) {
  .PI-subtitle {
      font-size: 40px;
  }
  .PI-subtitle_twoArtist {
      font-size: 40px;
      font-weight:normal;
  }

  .PI-title {
      font-size: 50px;
      margin-bottom: 7.5%;
  }
  .PI-title_twoArtist {
      font-size: 50px;
      margin-bottom: 3.5%;
      font-weight: normal;

  }

  .PI-artist {
      font-size: 32px;
      margin-bottom: 0px !important;
  }
  .PI-Artist-p{
    font-size:25px;
  }

  a.PI-shareButton {
      font-size: 20px;
      padding: 5px 32px 5px 32px;
      margin-bottom: 0px !important;
      display: block;
    }
  }
}
