/* @font-face {
    font-family: 'adonis';
    src: local('adonis'), url(./fonts/adonis.ttf) format('truetype');
} */

.borderLine {
    border-bottom: 1px solid #707070;
}
/* .borderLineBottom {
    border-bottom: 60px solid #707070;
} */

.contents {
    margin-top: 2%;
    font-family: 'adonis-web';
}

.subtitle {
    color: #0C3866;
    margin-top: 5%;
    font-weight: bold;
    font-family: 'adonis-web';
    margin-bottom: -20px;
    font-size: 40px;
}

.title {
    color:#BE0027;

    font-size: 50px;
    margin-bottom: 45px;
    font-weight:bold;
    font-family: 'adonis-web';
}

.last {
    margin-bottom: 70px;
}

div.artist.col {
    color: #0C3866;
    font-size: 19pt;
    padding: 0;
}

a.upload.btn.btn-primary {
    border-color: #D9C739;
    background-color: #D9C739;
    color: #0C3866;
    padding-left: 45px;
    padding-right: 45px;
    border-radius: 25px;
    height: fit-content;
    width: fit-content;
    border-bottom: 0;
}

a.share.btn.btn-primary {
    border-color: #BE0027;
    background-color: #BE0027;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 25px;
    height: fit-content;
    width: fit-content;
    font-family: "sofia-pro", Sans-serif;
}

.col-button {
    display: grid;
}


/* lg */
@media screen and (min-width: 1200px) {
  .subtitle {
      font-size: 40px;
  }

  .title {
      font-size: 50px;
      margin-bottom: 10%;
  }

  div.artist.col {
      font-size: 32px;
      margin-bottom: 0px !important;
  }

  a.upload.btn.btn-primary {
      font-size: 20px;
      padding: 5px 36px 5px 36px;
      display: None;
      margin-bottom: 0px !important;
  }

  a.share.btn.btn-primary {
      font-size: 15px!important;

      padding: 5px 32px 5px 32px;
      font-family: "sofia-pro", Sans-serif !important;

  }
}





/* md */
@media only screen and (max-width: 1024px) {

    .subtitle {
        font-size: 50px;
    }

    .title {
        font-size: 60px;
    }

    div.artist.col {
        font-size: 50px;
    }

    a.upload.btn.btn-primary {
        font-size: 10px;
        padding: 5px 36px 5px 36px;
        display: none;
    }

    a.share.btn.btn-primary {
        font-size: 20px;
        padding: 5px 32px 5px 32px;
        display: none;

    }
}
/* sm */
@media only screen and (max-width: 768px) {

  .subtitle {
      font-size: 50px;
  }

  .title {
      font-size: 60px;
  }

  div.artist.col {
      font-size: 32px;

  }

  a.upload.btn.btn-primary {
      font-size: 10px;
      padding: 5px 36px 5px 36px;
      display: none;
  }

  a.share.btn.btn-primary {
      font-size: 20px;
      padding: 5px 32px 5px 32px;
      display: none;
  }
}
