/* .skyBottomSection {
    padding: 4% 20% 0 20%;
    margin-bottom: 8%;
}

.skyBottomSection p {
    color: #0C3866;
    font-size: 19pt;
}

.skyImagesSection {
    margin-top: 4%;
    height: 85vh;
    width: 100vw;
    margin-left: 0;
    margin-right: 0;
}

.row {
    height: 33%
}

.blue {
    float: left;
    width: 37%;
    margin: 2% 1% 2% 0%;
    background-color: rgb(1, 52, 106)
}

.red {
    float: right;
    width: 9%;
    margin: 2% 0% 2% 1%;
    background-color: rgb(206, 0, 6)
}

.skyImagesSection img {
    height: 100%;
    width: 26%;
    padding: 2% 1% 2% 1%;
}

@media only screen and (max-width: 992px) {

    .skyBottomSection {
        padding: 4% 17% 0 17%;
    }

    .skyBottomSection p {
        font-size: 16pt;
    }
}


@media only screen and (max-width: 768px) {

    .skyBottomSection {
        padding: 4% 15% 0 15%;
    }

    .skyBottomSection p {
        font-size: 13pt;
    }
} */
