p {
  font-family: 'adonis-web';
}

.mainImage {
  padding: 0;
  overflow: hidden;
}

.mainSection {
  margin-top: 100px;
  margin-bottom:50px;
}


@media screen and (max-width: 767px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (min-width: 992px) {
}


@media screen and (min-width: 1200px) {
}
