.SOA-container {
  padding-bottom: 5%;
}
.SOA-img {
  width: 100%;
  height: auto;
}
.SOA-name {
  padding: 15px;
  text-align: center;
  background-color: #D9C739;
  color: #0C3866;
  font-family: "sofia-pro", Sans-serif;
  margin: 5% 0 10% 0;
}

@media screen and (max-width: 767px) {
  .SOA-container {
    margin: 0 9% 0 9%;
  }
}

@media screen and (min-width: 768px) {
  .SOA-container {
    margin: 0 9% 0 9%;
  }
}

@media screen and (min-width: 992px) {

}

@media screen and (min-width: 1200px) {
  .SOA-container {
    margin: 0 17% 0 17%;
  }
}